.something-weird {
    color: rgb(8, 231, 254);
}

/* not what it is */
.tumbleweed {
    position: absolute;
    top: 20%;
    right: -10rem;
    background: url(../assets/imgs/spybaloon.png) no-repeat center;
    background-size: auto;
    background-size: cover;
    width: 3.5vw;
    height: 3.5vw;
    animation: jumping 2.5s infinite, rolling 30s alternate-reverse 10, rotating 5.5s infinite;
}
.tumbleweed:nth-child(1) {
      animation-delay: 2s;
}
@keyframes jumping {
    0% {
        bottom: 0;
        animation-timing-function: ease-in-out;
    }
    25% {
        bottom: 1vw;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 0vw;
        animation-timing-function: ease-in-out;
    }
    75% {
        bottom: 1vw;
        animation-timing-function: ease-out;
    }
    100% {
        bottom: 0;
        animation-timing-function: ease-in-out;
    }
    }

    @keyframes rolling {
    0% {
        right: -10vw;
    }
    100% {
        right: 100%;
    }
    }

    @keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(30deg);
    }
    80% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* COMET in Space */

  .comet {
    width: 120%;
    height: 2px;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
    -moz-transform: translate(-50%, -50%) rotate(-10deg);
    -ms-transform: translate(-50%, -50%) rotate(-10deg);
    -o-transform: translate(-50%, -50%) rotate(-10deg);
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  .comet .comet-inner {
    width: 300px;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-animation: zip 22s linear infinite;
    -moz-animation: zip 22s linear infinite;
    animation: zip 22s linear infinite;
  }
  @-moz-keyframes zip {
    0% {
      left: 100%;
    }
    85% {
      left: 100%;
    }
    90% {
      left: -50%;
    }
    100% {
      left: -50%;
    }
  }
  @-webkit-keyframes zip {
    0% {
      left: 100%;
    }
    85% {
      left: 100%;
    }
    90% {
      left: -50%;
    }
    100% {
      left: -50%;
    }
  }
  @keyframes zip {
    0% {
      left: 100%;
    }
    85% {
      left: 100%;
    }
    90% {
      left: -50%;
    }
    100% {
      left: -50%;
    }
  }
  .comet .comet-inner:before {
    content: "";
    background-color: #FFF;
    width: 2px;
    height: 2px;
    position: absolute;
    left: 0%;
    border-radius: 100%;
  }
  .comet .comet-inner:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.5), #f3db03);
    background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.5), #f3db03);
    background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.5), #f3db03);
    background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.5), #f3db03);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), #f3db03);
    width: 200px;
    height: 2px;
    position: absolute;
    left: 0%;
    border-top-left-radius: 2px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 100%;
  }
  .space{
   
  }
/* Footer UFO animation */
.marsspace {
    position: relative;
    width: 100%;
    height: 250px;
    z-index: 10 !important;
    overflow: hidden;
  }
  .marsspace .marsred {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .marsspace .marsred .tentacle {
    position: absolute;
    top: -60px;
    right: -80px;
    z-index: 1;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    border-radius: 100%;
    border-left: 15px solid #1aae1e;
    transform: rotate(-30deg);
    -webkit-animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .marsspace .marsred .flag {
    position: absolute;
    height: 17px;
    width: 15px;
    top: -57px;
    left: -1px;
    -webkit-animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: flag-pole 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .marsspace .marsred .flag:before {
    content: "";
    position: absolute;
    height: 17px;
    width: 2px;
    background: #eee;
  }
  .marsspace .marsred .flag:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 14px;
    left: 2px;
    top: 0;
    background: #aaa;
    -webkit-animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: flag-unfurl 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .marsspace .marsred .flag .small-tentacle {
    position: absolute;
    left: -16px;
    top: 3px;
    height: 50px;
    width: 50px;
    border-left: 10px solid #1aae1e;
    border-radius: 100%;
    transform: rotate(25deg);
    -webkit-animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: small-tentacle 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    z-index: 2;
  }
  .marsspace .marsred:before {
    content: "";
    position: absolute;
    top: 80px;
    left: -30px;
    height: 10px;
    width: 60px;
    background: rgba(0, 0, 0, 0.2);
    background: #374d5c;
    border-radius: 100%;
  }
  .marsspace .marsred .planet {
    box-sizing: border-box;
    position: absolute;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    overflow: hidden;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 2;
  }
  .marsspace .marsred .planet .surface {
    position: absolute;
    border-radius: 100%;
    height: 140%;
    width: 140%;
    top: -30%;
    right: -10%;
    box-sizing: border-box;
    border: 30px solid rgba(0, 0, 0, 0.15);
    background: #ff5f40;
  }
  .marsspace .marsred .planet .crater1,
  .marsspace .marsred .planet .crater2,
  .marsspace .marsred .planet .crater3 {
    position: absolute;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .marsspace .marsred .planet .crater1 {
    height: 20px;
    width: 20px;
    top: 32%;
    left: 17%;
  }
  .marsspace .marsred .planet .crater2 {
    height: 10px;
    width: 10px;
    top: 26%;
    left: 55%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .marsspace .marsred .planet .crater3 {
    height: 10px;
    width: 10px;
    top: 60%;
    left: 40%;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .marsspace .ship {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -55px;
    margin-right: -55px;
    height: 22px;
    background: rgba(0, 0, 0, 0.1);
    transform-origin: 0% 100% 0;
    z-index: 1;
    -webkit-animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: ship 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .marsspace .ship .ship-rotate {
    position: absolute;
    height: 22px;
    transform: rotate(-110deg);
    -webkit-animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: ship-rotate 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  .marsspace .ship .pod {
    position: absolute;
    top: 0;
    left: -8px;
    height: 16px;
    width: 16px;
    background: #eee;
    border-radius: 100% 0 100% 0;
    transform: rotate(-45deg);
  }
  .marsspace .ship .fuselage {
    position: absolute;
    top: 14px;
    left: -6px;
    height: 8px;
    width: 12px;
    background: #eee;
    border-radius: 100% 100% 0 0;
  }
  .marsspace .ship .fuselage:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid red;
  }
  .marsspace .ship-shadow {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-right: -28px;
    margin-top: 83px;
    height: 4px;
    width: 16px;
    background: #374d5c;
    border-radius: 100%;
    -webkit-animation: ship-shadow 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: ship-shadow 12s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  }
  
  @-webkit-keyframes small-tentacle {
    0% {
      transform: rotate(-60deg);
    }
    86% {
      transform: rotate(-60deg);
    }
    89% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  
  @keyframes small-tentacle {
    0% {
      transform: rotate(-60deg);
    }
    86% {
      transform: rotate(-60deg);
    }
    89% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }
  @-webkit-keyframes tentacle {
    0% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(-30deg);
    }
    80% {
      transform: rotate(-165deg) translate(6px, 8px);
    }
    82.5% {
      transform: rotate(-165deg) translate(28px, -17px);
    }
    100% {
      transform: rotate(-165deg) translate(35px, -22px);
    }
  }
  @keyframes tentacle {
    0% {
      transform: rotate(-30deg);
    }
    75% {
      transform: rotate(-30deg);
    }
    80% {
      transform: rotate(-165deg) translate(6px, 8px);
    }
    82.5% {
      transform: rotate(-165deg) translate(28px, -17px);
    }
    100% {
      transform: rotate(-165deg) translate(35px, -22px);
    }
  }
  @-webkit-keyframes ship {
    0% {
      right: -10%;
      top: -10%;
      margin-top: -55px;
      margin-right: -55px;
    }
    40% {
      right: 50%;
      top: 50%;
    }
    79.5% {
      margin-top: -55px;
      margin-right: -55px;
    }
    84% {
      margin-top: -20px;
      margin-right: 0px;
    }
    100% {
      right: 50%;
      top: 50%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  @keyframes ship {
    0% {
      right: -10%;
      top: -10%;
      margin-top: -55px;
      margin-right: -55px;
    }
    40% {
      right: 50%;
      top: 50%;
    }
    79.5% {
      margin-top: -55px;
      margin-right: -55px;
    }
    84% {
      margin-top: -20px;
      margin-right: 0px;
    }
    100% {
      right: 50%;
      top: 50%;
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  @-webkit-keyframes ship-rotate {
    0% {
      transform: rotate(-110deg);
    }
    20% {
      transform: rotate(-110deg);
    }
    34% {
      transform: rotate(47deg);
    }
    79% {
      transform: rotate(47deg);
    }
    100% {
      transform: rotate(47deg);
    }
  }
  @keyframes ship-rotate {
    0% {
      transform: rotate(-110deg);
    }
    20% {
      transform: rotate(-110deg);
    }
    34% {
      transform: rotate(47deg);
    }
    79% {
      transform: rotate(47deg);
    }
    100% {
      transform: rotate(47deg);
    }
  }
  @-webkit-keyframes ship-shadow {
    0% {
      right: -10%;
      transform: scale(1.4, 1);
      opacity: .3;
    }
    40% {
      right: 50%;
      transform: scale(0.75, 1);
      opacity: 1;
    }
    100% {
      right: 50%;
    }
  }
  @keyframes ship-shadow {
    0% {
      right: -10%;
      transform: scale(1.4, 1);
      opacity: .3;
    }
    40% {
      right: 50%;
      transform: scale(0.75, 1);
      opacity: 1;
    }
    100% {
      right: 50%;
    }
  }
  @-webkit-keyframes planet-bump {
    0% {
      margin-left: 0;
    }
    39% {
      margin-left: 0;
    }
    40% {
      margin-left: -1px;
    }
    40.5% {
      margin-left: 1px;
    }
    41% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes planet-bump {
    0% {
      margin-left: 0;
    }
    39% {
      margin-left: 0;
    }
    40% {
      margin-left: -1px;
    }
    40.5% {
      margin-left: 1px;
    }
    41% {
      margin-left: 0;
    }
    100% {
      margin-left: 0;
    }
  }
  @-webkit-keyframes flag-pole {
    0% {
      top: -57px;
    }
    48% {
      top: -57px;
    }
    54% {
      top: -77px;
    }
    90% {
      top: -77px;
    }
    92% {
      top: -57px;
    }
    100% {
      top: -57px;
    }
  }
  @keyframes flag-pole {
    0% {
      top: -57px;
    }
    48% {
      top: -57px;
    }
    54% {
      top: -77px;
    }
    90% {
      top: -77px;
    }
    92% {
      top: -57px;
    }
    100% {
      top: -57px;
    }
  }
  @-webkit-keyframes flag-unfurl {
    0% {
      width: 0;
    }
    55% {
      width: 0;
    }
    60% {
      width: 14px;
    }
    90% {
      width: 14px;
    }
    100% {
      width: 14px;
    }
  }
  @keyframes flag-unfurl {
    0% {
      width: 0;
    }
    55% {
      width: 0;
    }
    60% {
      width: 14px;
    }
    90% {
      width: 14px;
    }
    100% {
      width: 14px;
    }
  }
  
  /*===============================
        BOTTOM OF EVERY CSS FILE
  =================================
  */
  #loadOverlay{display: none;}
  .loading_badge_place {
      position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:15vw;
    width:15vw;
    text-align:center;
    z-index:150;
  }