header {
	padding-block: 0.5rem !important;
	padding-inline: 6rem 0rem !important;
	border-bottom: 0.5px solid #15213c !important; /* darker #071432 */
}
header .container {
	max-width: unset !important;
	padding-inline: unset !important;
}
main{
    padding-top:150px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../assets/imgs/banner-bg.webp') !important;
    background-attachment: fixed !important;
}
.analytics-section{
    padding: 2vw 4vw;
    box-sizing: border-box;
}
.list-header, .section-title {
    flex-basis: 100%;
    font-size: clamp(14px, 2vw, 15px) !important;
    font-weight: 400;
}
.section-title {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-title h2 {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: clamp(18px, 2vw, 22px);
    font-weight: 400;
}

.section-title img {
    display: inline-flex;
    width: 50px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 2rem;
}
  
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px;
  }
  
  .section {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .section-big-chart {
    flex-basis: calc(70% - 450px); /* Set the initial size to 50% - 450px */
    background: none;
    padding: 0;
  }

  .section-full-chart {
    flex: 1 1 auto;
    background: none;
    width:100%;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
  }

  .big-chart-right {
    max-width:800px;
  }

  .section-big-chart h2 {
    color:#fff;
    margin:5px auto !important;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  canvas {
    width: 100%;
    height: 300px;
  }
  
  /*===================
     Traffic Section 
  ====================*/
  .main-traffic-section {
    padding-inline:2rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    background: radial-gradient(#141247, #040115 80%) !important;
    background: radial-gradient(rgba(20, 18, 71,0.1), rgba(4, 1, 21,0.4) 80%) !important;
  }
  
  .traffic-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 1vw;
    column-gap: 2vw;
  }

  .hedgeChart {
    width:120px !important;
    height: 120px !important;
  }

  .trafficStats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    margin-block: 2vw;
  }
  
  .statsbreakdown {
    width: 450px;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .traffic-card {
    min-width:250px;
    flex-basis: calc(25% - 1rem);
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    
    background-color: #1C061D;
    background: linear-gradient(60deg, #131145 0%, #1b1b49 100%) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } 

  @media (max-width: 680px){
    .traffic-card {
        flex-basis: calc(50% - 1rem);
    }
    .traffic-card {
      min-width:unset;
    }
}
  
  .traffic-card h2 {
    margin-top: 0;
  }
  
  .traffic-card h3 {
    margin-bottom: 0.5rem;
  }
  
  .traffic-card p {
    margin: 0;
    font-size: 1.2rem;
  }

  .card-title {
    font-size: clamp(14px, 1vw, 18px);
    margin-bottom: 10px;
    white-space: nowrap;
    align-items: center;
  }

  .card-value {
    flex-grow: 1;
    width: 100%;
    font-size: clamp(17px, 2vw, 24px);
    margin: 0;
  }

  .analyticData h4 {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-inline-start: 10px;
  }
  /* New media query for responsiveness */
@media (max-width: 768px) {
  .trafficStats {
    display: flex;
    justify-content: center;
  }
}

  /*================================
    DEPOSITS & WITHDRAW BREAKDOWNS
===================================*/
.widget {
    width:100%;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-block-end: 35px;
    background-color: #252a41;
    background: linear-gradient(60deg, #131145 0%, #1b1b49 100%) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .widget-title {
    color: #DDD;
    margin-block-end: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #141247;
  }
  
  .widget-content {
    display: flex;
    flex-direction: column;
  }
  
  .total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .total-amount h4 {
    color: #fff;
    margin: 0;
  }
  
  .align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .currency-icon {
    width: 50px;
    height: 50px;
    fill: #fff;
    margin-right: 10px;
  }
  
  .currency-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .currency-name {
    color: #fff;
    margin-right: 10px;
    align-items: center;
    display: flex;
  }

  .currency-name img {
    width:40px;
    height:40px;
    margin-right: 1rem;
  }

  .breakdown {
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
    font-size: clamp(14px, 1vw, 14px);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
  }
  
  .breakdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breakdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .amount {
    color: #fff;
    margin-right: 5px;
  }
  
  .value {
    color: #fff;
  }

  .green-amount {
    color: #33856b;
    margin-right: 5px;
  }
  
  .green-value {
    color: #33856b;
  }
  
  /* ===================
  REWARDS SECTION 
====================*/
.staking-grid {
	align-items: flex-start;
	place-items:center;
	padding: 0 1vw;
	box-sizing: border-box;
	margin-block:2vw;
}

.staking-grid {
	place-items:normal;
}

.grid {
	display: grid;
    align-items: center;
    justify-content: center;
    place-items: left !important;
}

.flex {
	display: flex;
}

.gap-2 {
	gap: .5rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-5 {
	gap: 2rem;
	row-gap: 2rem;
  	column-gap: 3rem;
}

.grid-cols-1 {
	grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid-cols-2 {
	
}


.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

hr.line {
	background-color: hsla(0,0%,100%,.1);
	border: 0;
	height: 1px;
}

.grid-sect-title{
	font-size: clamp(20px, 1vw, 24px);
	color:#FFF;
	line-height: 1;
}

.grid-sect-subtitle{
	font-size: clamp(15px, 1vw, 16px);
	color:rgb(139, 149, 158);
	line-height: 1;
}

.grid-sect-subtitle-value{
	font-size: clamp(18px, 1vw, 20px);
	color:#FFF;
}

.graph {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
  }

  .graph::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid #089353;
	
  }

  .graph::after {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 2px solid rgb(68, 99, 255);
	transform: rotate(150deg);
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--bluePercentage) * 1% ), 0% 100%);
  }
  

  .graph p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: bold;
  }

  .stakedTitle {
	color:#FFF;
  }

  /*===========================
      STAKING SECTION
   ==========================*/
   
  .earnMoreWidget-rewards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 1vw;
    position: relative;
    top: 0;
  }
/* New media query for responsiveness */
@media (max-width: 768px) {
  .earnMoreWidget-rewards {
    display: flex;
    justify-content: center;
  }
}
/* ===================
	STAKING WIDGET
=====================*/
.staking-widget {
    background: linear-gradient(60deg, #131145 0%, #1b1b49 100%);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }

  .staking-widget-rewards {
    background: linear-gradient(60deg, #131145 0%, #1b1b49 100%);
    color: #fff;
    padding: 0.5vw 1.5vw;
    border-radius: 10px;
    width: 350px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .staking-widget .icon {
    color: #3399ff;
    font-size: 2rem;
    margin:0px auto;
    margin-bottom: 10px;

    position: relative;
    width: 50px;
    height: 50px;
    border-radius:50%;
    box-shadow: 0 0 .2rem #fff, inset 0 0 .2rem #fff, 0 0 1.5rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color), 0 0 0.65rem var(--neon-border-color), inset 0 0 0.65rem var(--neon-border-color);
    box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.352rem var(--neon-border-color), inset 0 0 0.25rem var(--neon-border-color), 0 0 0.16rem var(--neon-border-color), inset 0 0 0.16rem var(--neon-border-color);
  }

  .staking-widget-rewards .icon, .staking-assignments-title .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #3399ff;
    font-size: 1.1rem;
    margin:5px auto;
    margin-bottom: 10px;

    position: relative;
    width: 40px;
    height: 40px;
    border-radius:50%;
    box-shadow: 0 0 .2rem #fff, inset 0 0 .2rem #fff, 0 0 1.5rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color), 0 0 0.65rem var(--neon-border-color), inset 0 0 0.65rem var(--neon-border-color);
    box-shadow: 0 0 .1rem #fff, inset 0 0 .1rem #fff, 0 0 0.75rem var(--neon-border-color), inset 0 0 0.5rem var(--neon-border-color), 0 0 0.325rem var(--neon-border-color), inset 0 0 0.325rem var(--neon-border-color);
    box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.352rem var(--neon-border-color), inset 0 0 0.25rem var(--neon-border-color), 0 0 0.16rem var(--neon-border-color), inset 0 0 0.16rem var(--neon-border-color);
  }
  
  .staking-assignments-title .icon {
	  margin:0;
  }

  .staking-widget h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .staking-widget-rewards h4 {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 10px;
    margin-inline-start: 10px;
  }
  
  .staking-widget p, .staking-widget-rewards p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    text-align: left;
  }

  .staking-widget-rewards p {
    width:100%;
    flex-basis: 1;
    display: block;
  }
  
  .staking-widget button, .staking-widget-rewards button {
    background-color: #33856b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    color: #60a5fa;
    border: 1px solid #3399ff;
    border-radius: 8px;
    background-color: rgba(29,78,216,.2);
  }
  
  .staking-widget button:hover, .staking-widget-rewards button:hover {
    background-color: #2a6d53;
    background-color: rgba(29,78,216,.3);
  }
  
  .staking-widget.dark, .staking-widget-rewards.dark {
    background: linear-gradient(60deg, #131145 0%, #1b1b49 100%);
    color: #fff;
  }
  
  .staking-widget.dark .icon, .staking-widget-rewards.dark .icon {
	  color: #3399ff;
  }
  
  .staking-widget.dark button, .staking-widget-rewards.dark button {
    background-color: #33856b;
    color: #fff;
  }
  
  .staking-widget.dark button:hover, .staking-widget-rewards.dark button:hover {
    background-color: #2a6d53;
  }

  .stakeGrids {
    width:100%;
    justify-content: space-between;
    gap:2rem;
  }
  .cardDataRow {
    display: flex !important;
  }
  .cardData {
    width:50%;
    flex-direction: column;
  }

  .place-flexstart {
	  place-items: flex-start;
  }

  .splitView {
    display: flex;
    justify-content: space-between;
  }

  .aplAssignments {
    color:#FFF !important;
    border-bottom: 0.5px solid rgba(255,255,255,0.1);
  }
  
  /* Flexbox */
  .flex-container {
    display: flex;
    background: linear-gradient(60deg, #131145 0%, #1b1b49 100%);
  }
  
  .flex-item {
	  flex: 1;
  }

  /*=================
   TOKEN INFOR
   =================*/
.token-info-widget {
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 35px;
  background: radial-gradient(#141247, #040115 80%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.token-info-widget .widget-title {
  color: #ddd;
  margin-bottom: 10px;
  font-size: clamp(20px, 1vw, 24px);
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #141247;
}

.token-info-widget .widget-content {
  display: flex;
  flex-direction: column;
}

.token-info-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.token-info-widget .left-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.token-info-widget .info-item {
  place-content: center;
  display: grid;
  padding: 15px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.352rem var(--neon-border-color), inset 0 0 0.25rem var(--neon-border-color), 0 0 0.16rem var(--neon-border-color), inset 0 0 0.16rem var(--neon-border-color);
  border-radius: 8px;
}

.token-info-widget .info-item h4 {
  font-size: clamp(20px, 1vw, 24px);
  font-weight: 400;
  margin-bottom: 10px;
}

.token-info-widget .info-item p {
  font-size: clamp(14px, 2vw, 16px);
  color: #b6b6b6;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.token-info-widget .right-section {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.token-info-widget .token-price {
  text-align: center;
  padding: 20px;
  color: #fff;
  background: linear-gradient(60deg, #2e8b57 0%, #228b22 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.token-info-widget .token-price h4 {
  font-size: clamp(18px, 3vw, 24px);
  font-weight: bold;
  margin-bottom: 10px;
}

.token-info-widget .token-price p {
  font-size: clamp(24px, 4vw, 32px);
  color: #fff;
}

/* Supply Section */
.token-info-widget .supply-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.token-info-widget .supply-section .info-item {
  flex-basis: calc(33.333% - 1rem);
}

.tokenomicsBriefing {
  padding: 15px;
  text-align: left;
  color: #fff;
  border-radius: 8px;
}

.tokenomicsBriefing h4 {
  display:block;
  font-size: clamp(20px, 1vw, 24px);
  font-weight: 400;
  margin-bottom: 10px;
}

.tokenomicsBriefing p {
  display:block;
  font-size: clamp(14px, 2vw, 16px);
  color: #b6b6b6;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Icons */
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  color: #188dd6;
  fill: #3399ff;
}

/* New media query for responsiveness */
@media (max-width: 768px) {
  
  .token-info-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .token-info-widget .left-section {
    flex-direction: column;
  }

  .token-info-widget .right-section {
    justify-content: center;
  }

  .token-info-widget .info-item {
    width: 100%;
  }

  .token-info-widget .supply-section {
    flex-wrap: unset;
    gap:1rem;
    justify-content: center;
  }

  .token-info-widget .supply-section .info-item {
    max-width:130px;
    padding:10px;
    box-sizing: border-box;
  }

  .token-info-widget .info-item h4 {
    display: flex;
    flex-direction: column;
  }

  .token-info-widget .token-price {
    margin-top: 20px;
  }
  
  .token-info-widget .token-price h4 {
    font-size: clamp(16px, 2vw, 20px);
  }
  
  .token-info-widget .token-price p {
    font-size: clamp(24px, 3vw, 28px);
  }
}


  /*=================
  Common NEON Dash
  ===================*/
  .sectionLabel {
    position: relative;
    display: inline-flex;
    flex-basis: 90%;
    font-size: clamp(15px, 2vw, 18px);
    text-transform: capitalize;
    text-align: left;
    padding: 5px 9.5%;
    box-sizing: border-box;
    margin-block: 3%;
  
    border-bottom: 1px solid var(--neon-border-color);
  }
  

  /* ===================
  REWARDS SECTION 
====================*/
.rewards-grid, .staking-grid, .assignments-grid {
	align-items: flex-start;
	place-items:center;
	padding: 0 1vw;
	box-sizing: border-box;
	margin-block:2vw;
}

.staking-grid {
	place-items:normal;
}
.assignments-grid {
	justify-content: space-around;
  display: flex;
}

.staking-summary-grid {
  grid-template-columns: none;
}

.stakeDataRow {
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 1rem;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.gap-2 {
	gap: .5rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-5 {
	gap: 2rem;
	row-gap: 2rem;
  	column-gap: 3rem;
}

.grid-cols-1 {
	grid-template-columns: repeat(1,minmax(0,1fr));
}

.grid-cols-2 {
	
}


.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

hr.line {
	background-color: hsla(0,0%,100%,.1);
	border: 0;
	height: 1px;
}

.grid-sect-title{
	font-size: clamp(20px, 1vw, 24px);
	color:#FFF;
	line-height: 1;
}

.grid-sect-subtitle{
	font-size: clamp(15px, 1vw, 16px);
	color:rgb(139, 149, 158);
	line-height: 1;
}

.grid-sect-subtitle-value{
	font-size: clamp(18px, 1vw, 20px);
	color:#FFF;
}

.claim-button{
	font-style: normal;
	font-size: clamp(15px, 1vw, 18px);
	font-weight: 500;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	color:#02f0fe;
	color: #60a5fa;
	color:#fff;
	border: 1px solid #3399ff;
	border-radius: 8px;
	background-color: rgba(29,78,216,.2);
	background: linear-gradient(220deg, #39f, #110f47 80%);
}



  /*===============================
      BOTTOM OF EVERY CSS FILE
=================================
*/
#loadOverlay{display: none;}
.loading_badge_place {
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height:15vw;
  width:15vw;
  text-align:center;
  z-index:150;
}
  