/* BLOCK & WALLET STATUS */
/*------------------------------------------------------------------------------------------------*/
/*	WALLET BALANCES AND ADRESS STYLING */
#blockstatehold {
    position:relative;
    width: auto;
	min-width:218px;
	max-width:230px;
	background-color: rgba(13, 148, 136, 0.2);
	background-color: rgba(29, 129, 216, 0.15);
}
.walletpur{
	position:relative;
	height:auto;
	width: 100%;
	border-radius: 8px;
	box-sizing:border-box;
	cursor: pointer;
	color:#000;
	overflow:visible;
}
.waiting_init, .wallet_connect, .network_switch{
	position:relative;
	transition-delay: 0.3s;
	display:inline-flex;
	margin:0px auto;
	padding: 0.6vw;
	box-sizing:border-box;
	color:#08e7fe;
	cursor:pointer;
	/* background-color:#d6188a; */
	font-size: clamp(13px, 1vw, 15px);
	font-weight: 400;
	letter-spacing:0.5px;

	/* old menu restore point - delete below */
	font-weight: 100;
}
.wallet_connect:hover{
	font-weight:500px;
	transition: all 0.5s ease-in-out 0s;
}
.network_switch{
	width:auto;
}
.waiting_init{
	display:none;
}
.network_switch{
	/* background-color:#d6188a; */
	
	display:none;
	/* SWAL brown rgb(242, 116, 116); */
}
.wallet_tab{
	position:relative;
	height:auto;
	max-height:38px;
	width:100%;
	padding:0;
	box-sizing:border-box;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
	font-size: clamp(11px, 1vw, 13px);
	letter-spacing: 0;
	align-items: center; /* For vertical centering */
	display: flex;/* For vertical centering */
}

#wallet_balance, #wallet_id{
	display: inline-block;
	flex-basis:50%;
	position: relative;
	overflow:hidden;
	width: 50%;
	height:auto;
	max-height:38px;
	cursor: pointer;
	border-radius: 8px;
	color: #08e7fe;
	z-index: 1;
	text-align:center;
	white-space: pre;
	/* background-color: #d6188a; */
}
#wallet_balance:hover, #wallet_id:hover{
	/* background-color: #d6188a; */
}
#wallet_id{
	flex-basis:40%;
	flex-shrink:1;
	min-width: 76px;
}
#wallet_balance{
	flex-grow:1;
	text-overflow: ellipsis;
	text-align: right !important;
}
.wallet_tab img{
	position:relative;
	width:20px !important;
	max-height:20px !important;
	display:inline-block;
	border-radius:50%;
	text-align:center;
	z-index:2;
	margin-inline: 2px;
}
.showingshold{
	position:relative;
	z-index:10;
	display:inline-block;
	margin: 0px -50%;
}
.chainstat {
	position: absolute;
	top: -1vw;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	width: 70px;
	max-width: 70px;
	text-align: center;
}
.blockel{
	display:inline-block;
	vertical-align:middle;
}
#blocknumber{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);

	opacity:0.5;
	font-family:monospace, sans-serif, "Helvetica Neue", Helvetica, Arial !important;
	letter-spacing:0px !important;
	color: #06d574!important;
	text-align: left;
	/* padding-top:13px; */
	box-sizing: border-box;
}
#blocknumber a, #blocknumber a:visited{
	color: #06d574 !important;
	text-decoration:none;
	font-size:14px !important;
}
.dot{
	width: 6px;
	height: 6px;
	min-height: 6px;
	min-width: 6px;
	margin:0;
	border-radius: 50%;
	background-color: rgb(39, 174, 96);
}
.chainstat .dot{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	left:10px;
}
.dot_active{
	padding:0px !important;
	width: 8px;
	height: 8px;
	margin:15px 0.5rem 0 0.5rem;
	border-radius: 50%;
	position: absolute;
	bottom:9px;
	right:4px;
	background-color: rgb(39, 174, 96);
}
.dot_offline{
	padding:0px !important;
	width: 8px;
	height: 8px;
	margin:15px 0.5rem 0 0.5rem;
	border-radius: 50%;
	position: absolute;
	bottom:9px;
	right:4px;
	background-color: #ec0624;
}
.dot_idle{
	position: relative;
	display: inline-flex;
	padding:0px !important;
	width: 8px;
	height: 8px;
	margin:15px 0.5rem 0 0.5rem;
	border-radius: 50%;
	background-color: #FFF;
}
.dot_offline {
  animation: blinker2 1s ease-in-out infinite alternate;
}
@keyframes blinker2 { to { opacity: 0; } }
.dot_active, .dot {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  3% {/* 50% default, 0 opacity */
    opacity: 0.1;
  }
}

/*NOTIFICATION BUBBLE FOR ALL PAGES */
#popupNotify{
	z-index:150 !important;
	position:fixed;
	top:6rem;
	right:10px;
	width:320px;
	height:auto;
	padding: 8px;
	padding-top:12px;
	box-sizing: border-box;
	border: 1px solid rgba(51, 153, 255, 0.15);
	border-radius: 8px;

	font-family:monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
	font-size: clamp(11px, 1vw, 14px);
    line-height: 1;
	text-align: left;
	/* text-transform:uppercase; */
	color:#EEE;
	transition: all 0.2s ease-in-out 0s;
	background-color: #071432 !important;	
	
	display:inline-flex;
    align-items:center !important;/* vertically align child div centers */
    justify-content:center !important; /* horizontally center child elements */
}
#pNotifyX{
	position:absolute;
	right: 0.3vw;
  	top: 0.3vw;
	width:15px;
	height:15px;
	font-size:14px;
	color:#F8F8F8;
	padding:2px;
	cursor:pointer;
	border:0.5px solid #3F3F3F;
	border-top:none;
	border-right:none;
	border-radius: 50%;
	text-align:center;
	line-height:1;
	text-transform:lowercase;
}
#pNotifyX:hover{
	color:#FFF !important;
	border:0.5px solid #EFEFEF;
}
.popupSuccess{
	display: inline-flex;
	position:relative;
	width:11.4%;/*32px*/
	height:33.6px;
	background:url(../assets/imgs/success.svg) no-repeat center center;
	background-size:contain !important;
}
.popupBody{
	display: inline-flex;
	flex-wrap: wrap;/* to igmore chil elements from flex */
	position:relative;
	width:88.6%;
	padding-left:10px;
	box-sizing:border-box;
	/*white-space: pre;/* allows line breaks in Javascript using \n */
}
.popupNotify_timer{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:4px;
	background-color:rgb(8, 231, 254);
	box-shadow: 0 0 10px rgb(8, 231, 254);
}
#popupTitle, #popupAmounts, #popupTxhash{
	flex-basis: 100%; /* forces child element to not behave like part of the flex */
	display:block;
	width:100%;
	padding:2px 0;
	padding-right:20px;
	box-sizing:border-box;
}
#popupTitle{
	font-weight:600;
	text-transform: uppercase;
}
#popupAmounts{
	text-align:left;
}
#popupTxhash{
	color:#4287e9;
	text-decoration:none;
}
#popupTxhash:hover{
	color:#0089b5 !important;
	text-decoration:underline;
}

/* sweet alerts brown feel */
.sweet-alert{
	background: linear-gradient(150deg, #d6188a, #02c0ca 80%) !important;
	border: 0.5px solid #02c0ca;
	border: 0.5px solid #0b092e;
	box-shadow: 0 0 .1rem #fff, inset 0 0 .1rem #fff, 0 0 0.7rem var(--neon-border-color), inset 0 0 0.5rem var(--neon-border-color), 0 0 0.3rem var(--neon-border-color), inset 0 0 0.3rem var(--neon-border-color);
}
.sweet-alert h2{
	color:#b7b7b7 !important;
}