:root {  
	--neon-text-color: #188dd6;
	--neon-border-color: #08f;
}
header {
	padding-block: 0.5rem !important;
	padding-inline: 6rem 0rem !important;
	border-bottom: 0.5px solid #15213c !important; /* darker #071432 */
}
header .container {
	max-width: unset !important;
	padding-inline: unset !important;
}
/* ====== transparent NEON background effect - too bright fot marketplace 
main{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../assets/imgs/banner-bg.webp') !important;
    background-attachment: fixed !important;
}
section.page-title {
	background: unset !important;
}
section.sectionCenter {
	background: unset !important;
}
/* ====== ends here */
@media (min-width: 55em) {
	.container {
		padding-right:unset; /* hack on main style.css file to the menu container, in dapp only */
	}
}
body{
	background-size:contain !important;
	background-position: center !important;
	background-repeat: no-repeat !important;

	background: #130228;
	background: linear-gradient(200deg, #130f4e, #0d0e38, #030507 30%);
}

#page-title {
	margin-top:-70px;
}

section.page-title {
	padding: 8rem 4rem 4rem;
	box-sizing: border-box;
}

.rewardsInformer {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top:-80px;
	z-index: 10;
  	max-width: max-content;

	padding: 5px 20px;
	border: 1px solid rgba(51, 153, 255, 0.15);
	border-radius: 8px;
	background-color: rgba(29, 129, 216, 0.15);
	animation: hideDiv 30s forwards;
	transition: 0.5s;

	font-family: 'Raleway',"Space Grotesk", sans-serif;
	font-size: clamp(12.5px, 1vw, 13px);
	font-weight: 200;
	text-align: center;
	cursor:help;
	transition: background-color 0.3s;
	color: #08e7fe;	
	line-height: 2.5;
}
@keyframes hideDiv {
	0% {
	  opacity: 1;
	  visibility: visible;
	}
	95% {
		opacity: 0.95;
	}
	99.9% {
	  opacity: 0;
	  visibility: hidden;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	  display: none;
	}
}
  
section.sectionCenter {
	position: relative;
	display: grid;
    /* grid-template-columns: auto 1fr 300px; /* 3 column grid with right side bar */ 
	grid-template-columns: auto 1fr; /* 2 column grid */ 
	grid-template-columns: auto 1fr 270px;
    min-height: 100vh;
	padding-bottom: 15vh !important;
}
.clubSinnage{
	position:relative;
	padding:10px;
	margin:0px;
	box-sizing:border-box;
	text-align:left;
	border-bottom: 0.5px dotted #188dd6;
}
.clubSinnage h4{
	font-family: 'Raleway',"Space Grotesk", sans-serif;
	font-size: clamp(22px, 3vw, 28px) !important;
	font-weight:100;
	letter-spacing:1px;
	text-transform: uppercase;
	padding:10px;
	margin:0px;
	box-sizing:border-box;
	color: #08e7fe !important;/* darker */
	text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;
}
.left-paner-parent {
	position: relative;
}
aside {
	position: sticky;
	top:100px; /* match aside container */
	transition: 1s;
	align-items: center;
	padding: 0 10px 20px;
	box-sizing: border-box;
	/* border: 0.7px solid #3399ff; */
	caret-color:transparent;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius:1rem;
}
.asideNavs {
	position: relative;
	margin: 1vw auto;
	width: 75%;
}
@media (min-width: 300px) {
	.asideNavs {
		min-width: 220px;
	}
}
.asideNavsinside{
	position: relative;
	margin: 10px auto;
	width: 100%;
	box-sizing: border-box;
	padding: 0.5vw 1%;
  	border-radius: 8px;
	cursor: pointer;
	font-family: "Space Grotesk", sans-serif;
	font-size: clamp(14px, 1vw, 15px) !important;
	letter-spacing: 0;
	text-align: center;
	color: #F4F4F4;
	/*
	border: 1px solid #110f47;
	background: linear-gradient(280deg, #144d8d, #110f47 100%);
	*/
	border:1px solid #3399ff;
}
#footerSideNavs{
	text-align: center;
	padding:0.5vw 0;
	box-sizing: border-box;
}
/* right section - contect window */
.timelineHold{
	position: relative;
	min-height: 500px; /* get clear of CTA section below it */
	padding: 0;
	box-sizing:border-box;
	transition: 1s; 
	
	color:#FFF;
	align-items:center;
	vertical-align: middle;
	text-align:center;
	background: transparent;
}
/* right section - sidebar - live preview window */
#sidebar {
	position: sticky;
	top: 100px;
	min-height:300px;
	height:400px;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, Arial !important;
	transition: 1s;
	transform: translateX(-1vw);
	box-sizing: border-box;
	padding-top:20px
}
.neon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;	
	font-family: "Space Grotesk", sans-serif;
}
.neon-text {
	font-size: clamp(13px, 1vw, 14px) !important;
	color: #fff;
}
.neon-amount {
	width: 100%;
	font-size: 1rem;
	font-weight: 100;
	text-align: center;
	border:0.5px dotted #3399ff;
	border-top: unset;
	padding:0.1vw 0.4vw;
	/* unknown, unknown, unknown, glow radius, no-effect, shadow */
	text-shadow: 0 0 1px #188dd6, 0 0 2px #188dd6, 0 0 10px #188dd6, 0 0 1px #188dd6, 0 0 0px #188dd6, 2px 2px 0.5px #0e567c;
	color: #08e7fe;
}
/*
.hedgedVolume {
text-shadow: 0 0 1px #188dd6, 0 0 2px #188dd6, 0 0 10px #188dd6, 0 0 10px #188dd6, 0 0 2px #188dd6, 2px 2px 0.5px #0e567c;
color: #92f1fc;
}

.boughtVolume {
text-shadow: 0 0 1px #089353, 0 0 2px #089353, 0 0 10px #089353, 0 0 10px #089353, 0 0 2px #089353, 2px 2px 0.5px #054025;
color: #79deaf;
}

.settledVolume {
text-shadow: 0 0 1px #FA1C16, 0 0 2px #FA1C16, 0 0 10px #FA1C16, 0 0 10px #FA1C16, 0 0 2px #FED128, 2px 2px 0.5px #806914;
color: #FED128;
}
*/

#eventsList {
	list-style-type: none;
	padding: 0;
}

.event-item {
	font-size: 12px;
}

.event-item:hover {
	background-color: #f0f0f0;
}
/* ==================================================
	LIVE BLOCKCHAIN STATS AND EVENTS SIDEBAR STYLES
=====================================================*/

.liveEvents {
	background-color: transparent;
	width: 100%;
	height: 100%;
	font-size: 18px;
}
.scifiUI {
	display: flex;
	column-gap:2px;
	list-style: none;
	position: relative;
	width: 100%;
	margin: 0px auto;
	padding: 0;
	font-size: 12px;
	color: #00bebe;
}
.scifiUI_li {
	display: inline-block;
	flex-basis: 50%;
	background: #1d81d80d; /* match section below */
}
.scifiUI_li input[type="radio"] {
	/* For IE 8 and earlier */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* For IE 9 and later (including IE 11) */
	filter: alpha(opacity=0);

	opacity: 0;
	position: absolute;
	outline: none;
}
.scifiUI_li input[type="radio"]:checked ~ label {
	background: rgb(8, 231, 254);
	color: #212121;
	height: 50px;
	width: 100%;
	font-size: 12px;
	cursor: default;
	box-shadow: 0 0 10px rgb(8, 231, 254);
}
.scifiUI_li input[type="radio"]:checked ~ .section {
	/* For IE 8 and earlier */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(enabled=false)";
	/* For IE 9 and later (including IE 11) */
	filter: alpha(enabled=false);

	opacity: 1;
	width: 100%;
	/* consider removing scroll to show only top 20 txs */
	max-height: 550px;
	overflow-y: scroll;
	
	padding: 10px;
	box-sizing: border-box;
	border:1px solid rgb(8, 231, 254);
	border: 0.5px solid #3399ff;
	color:rgb(8, 231, 254);
	letter-spacing: 0px;
	text-indent: 0;
	text-align: left;
	z-index: 1;
}
.scifiUI_li label {
	display: block;
	width: 100%;
	height: 40px;
	border:1px solid rgb(8, 231, 254);
	border: 0.5px solid #3399ff;
	border-bottom: 0;
	border-radius: 8px 8px 0 0;
	color: rgba(0, 190, 190, 0.7);
	color:rgb(8, 231, 254);
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}
.scifiUI_li label:hover {
	height: 50px;
	border-color: rgb(8, 231, 254);
	border-color: #3399ff;
	color: rgb(8, 231, 254);
}
.scifiUI_li .section {
	/* For IE 8 and earlier */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* For IE 9 and later (including IE 11) */
	filter: alpha(opacity=0);

	opacity: 0;
	position: absolute;
	top: 51px;
	left: 0;
	width: 100%;
	padding: 10px;
	border:1px solid rgb(8, 231, 254);
	border: 1px solid #3399ff;
	background: rgba(0, 190, 190, 0.1);
	background: rgba(29, 129, 216, 0.15);
	background: #1d81d80d;
	color: white;
	letter-spacing: 0px;
	text-indent: 0;
	text-align:left;
	transition: all 200ms ease-in-out;
}
.section ul li {
	display: grid;
    /* grid-template-columns: auto 1fr 300px; /* 3 column grid with right side bar */ 
	grid-template-columns: 60px 85px 1fr auto;
}
.section ul li span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

/* Token Summary Cards */
.tokenStats {
	position: relative;
	display:block;
}
.tokenHead {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.sidebarLogo {
	margin: unset !important;
	margin:0px auto !important;
}
.sidebarName {
	text-align: center !important;
}
.token_links {
	width: 100%;
	line-height: 20px;
	font-size: 14px;
}
.etherscanLink {
	display: inline-flex;
	padding: 2px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 100;
	color: rgb(139, 149, 158) !important;
}
/* club timeline projects tabs */
.feedsfilterDockHold{
	position: sticky;
	top:85px;
	margin:0px auto;
	max-width: 500px;
	z-index:2;
	text-align:center;
	padding: 20px 5px 15px;
	box-sizing: border-box;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center; 

	background-color: rgba(4, 1, 21, 1);
	/* border: 0.7px solid #3399ff; */
	box-shadow: 0 1vw rgba(0, 0, 0, 0.8);
}

.feedsfilterDockHold::before {
    content: "";
    position: absolute;
    top: -6px; /* shadow's position */
    left: 0;
    right: 0;
    height: 6px;
    background: linear-gradient(to right, #060317, #800080, #060317); 
    opacity: 0.7;
    z-index: -1; /* Place the shadow behind the div */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0); /* Add a 5px box shadow with a transparent color */
}
  
.streamtype {
	flex: 1; /* Expand to fill available space */
	margin: 0px 1.5%;
	min-width: 60px;
	border-radius: 10px;
	overflow: hidden;
	color: #08e7fe;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, Arial !important;
	font-size: clamp(13px, 1vw, 15px) !important;
	letter-spacing: 0;
	font-weight: 200 !important;
	border: 0.5px solid #3399ff;
	background-color: #060921;
}
.streamtype .eventAct {
    height: 42px;
    line-height: 42px;
}
.streamtype a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0% 1% 0% 1%;
	box-sizing: border-box;
	color: #F5F5F5;
	text-decoration: none;
	font-weight:400;
	font-weight: 100;
	letter-spacing: 0.5px;
	transition: all 0.3s ease-in-out;
}
.streamtype a:hover {
	color: #08e7fe;
}
/* create button */
.neon-button {
	position:relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0.5rem;
	box-sizing: border-box;
	outline: none;
	overflow: hidden;
	cursor: pointer;
	
	font-family: 'monospace','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
	font-weight:100;
	/*
	animation: flicker 1.5s infinite alternate;
	*/
	border: 1px solid #3399ff;
	transition: all 0.5s ease-in-out;
  }
/* Animate neon flicker */
@keyframes flicker {
	  
	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
		box-shadow: 0 0 .1rem #fff, inset 0 0 .1rem #fff, 0 0 0.7rem var(--neon-border-color), inset 0 0 0.5rem var(--neon-border-color), 0 0 0.3rem var(--neon-border-color), inset 0 0 0.3rem var(--neon-border-color);      
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
		box-shadow: none;
	}    
}
.neon-button:hover {
	border: 1px solid #08e7fe;
}
.neon-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #08e7fe;
    text-shadow: 0 0 1.5vw #08e7fe;
    z-index: 1;
} 
.neon-button:hover .neon-button-icon {
	font-size: 28px;
	text-shadow: 0 0 2.5vw #188dd6;
}
  
/* project search input form */
.sitesearchhold{
	flex-basis: 100%;
	height: auto;
	margin-top:1rem;
}
#swap_searcher {
    position: relative;
    display: block;
    height: 32px;
    margin: 0px auto;
    padding-inline: 5px;
}
.search-input {
	margin: 0px auto;
	margin-inline: -10px;
	height: 32px;
    border: 0;
    border-radius: 10px;
	padding: 7px;
	box-sizing: border-box;
    font-family: "Space Grotesk", "Nunito Sans", Helvetica, sans-serif, 'Lucida Grande', sans-serif;
    font-size: clamp(12px, 1vw, 15px);
	font-weight: 100;
    text-align: center;
    line-height: 1;
    color: rgb(117, 117, 117);
    background-color: #242737;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.search-input:focus {
    background-color: #3f4351;
	color:#FFF;
}
.site_search_btn {
	position:absolute;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: url('../assets/imgs/search_.png') no-repeat scroll center;
	background-size:16px;
	vertical-align:middle;
}
/* search strip */
.searchresultStrip{
	position: relative;
	padding: 0;
	margin: 5px 0 0;
	box-sizing: border-box;
	display:block;
	width:100%;
	height:auto;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
	font-size: clamp(14px, 2vw, 15px);
	text-align: center;
}
.searchresultStrip img{
	display: inline-block;
	width:32px;
	height:32px;
	margin:0 0.2vw;
	vertical-align:middle;
	background-color: #626262;
}
.searchresultStrip span{
	display: inline-block;
	padding-left:2vw;
	margin:0 0.2vw;
	line-height: 32px;
	vertical-align:middle;
	background-color: #626262;
	border: 0.5px solid #626262;
	border-radius: 5px;
	text-align:left;
}
.searchresultStrip span:hover{
	text-decoration: underline #02c0ca; 
}
/* create form */
.shl_inputshold label{
	display:inline-block;
	width:40%;
	text-align: left;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 0.1px;
}
.shl_inputshold label img{
	width:12px;
	margin-inline:0.8rem;
}
fieldset input{
	display: none !important;
}
#hedgeType{
	margin: 7px auto;
	width: 55%;
	text-align: center;
	font-family: "Space Grotesk", Monospace,"Nunito Sans", sans-serif !important;
    font-size: clamp(14px, 1vw, 14.5px);
    font-weight: 100;
    color: rgb(6, 209, 231);

	border: 0.5px dashed rgb(6, 209, 231);
    border-radius: 8px;
    padding: 0.4rem 0.7rem;    
    box-sizing: border-box;
    background-color: black !important;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);    
    -webkit-transition: all 0.3s;
    transition: all 0.3s; 
}
#tokenAmountValueDiv {
	color: #d6188a;
}
.walletBalancesTL{
	width: 95%;
	margin:10px auto;
	padding-block: 0.3vw;
	background-color: #000000c4;
	border: 0.5px dashed #188dd6;
	border-radius:5px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.walletBalancesTL div{
	flex: 1; /* Expand to fill available space */
	margin-inline:2px;
	min-width: 70px;
	border-top:0.5px dashed #188dd6;
}
.walletBalancesTL span{
	flex-basis: 100%;
	display: inline-block;
	margin:5px 0;
	color:#188dd6;
	color: rgb(8, 231, 254);
	font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial;
	font-family: "Space Grotesk", sans-serif;
	font-size: 13.5px;
	letter-spacing: 0;
}
.walletBalancesTL p {
	font-size: 13px !important;
	padding:5px 10px 0 !important;
	width: 100%;
	text-align: center !important;
	text-transform: capitalize;
}
.walletbalanceSpan img{
	width:12px;
	margin-inline: 3px;
}
#tokenBal, #wethBal, #usdtBal, #usdcBal{
	color:#CCC;
}
.walBalTitle{
	width:100%;
}

/* time picker */
.ui-timepicker-container {
	z-index: 100000 !important;
	position: absolute;
}

/* timeline of hedges */
.hedgesTimeline {
	position: relative;
	top: 0;
	padding-top: 2.5vw;
	box-sizing: border-box;
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 2vw;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 900px) {
	aside, .timelineHold {
		padding:unset;
		transition: 0.5s;
	}
}
/*=====================================
    HEDGE OPTIONS CARDS excl loans
======================================*/
.tl_hedgeGrid{
    position: relative;
	width:100%;
    margin:0px auto;
	/*
	border-bottom: 1.5px solid rgba(22, 13, 60, 0.9);
	*/
    text-align: center;
	
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}
.tl_hedgeCard {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc(100% - 1em);
	max-width: 450px;
	vertical-align: middle;
	border: 0.5px solid #202A44;
	border-radius: 1vw;
	line-height: 1.5;
	font-family: 'modeseven', 'bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial;
	font-family: "Space Grotesk", sans-serif;
	font-size: clamp(14px, 1vw, 16px);
	padding: 0.8vw;
	box-sizing: border-box;
	background-image: radial-gradient(#131145, #1b1b49 100%) !important;
	background: radial-gradient(#131145, #1d1f56 80%) !important;
	color: #FFF;
	caret-color:transparent;
  }
.projectLogo {
	display: inline-block;
    position: relative;
    margin-inline: 1.5vw;
    width: 50px;
    height: 50px;
	
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

	border:0.5px solid rgb(8, 231, 254);
	/*
	border-image-source: linear-gradient(to top, #d6188a 20%, #188dd6 100%);
	border-image-slice: 1;
	*/
	border-radius: 50% !important;
}
.projectName{
    display: inline-block;
	font-weight: 200;
	font-size: clamp(16px, 1vw, 19px);
	text-align: left;
}
.tl_bagsize {
	width: 100%;
	line-height: 20px;
	font-size: 14px;
	color: #188dd6;
	color:#FFF;
	color: rgb(139, 149, 158);
	text-align: left;
}
  
.additionalTokens {
	font-size: 12px;
	color: #188dd6;
	margin-left: 5px;
}
  
  .tokenLink {
	color: #188dd6;
	text-decoration: none;
	vertical-align: middle;
  }
  
  .tokenLink i {
	font-size: 13px;
  }
  
  /* Option Values Styles */
  .valueHold {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 0;
	background-color: rgba(15, 8, 46, 0.9);
	background-color: rgba(15, 8, 46, 0.5);
	/* border: 0.5px solid rgba(8, 231, 254, 0.5); */
	border-radius: 5px;
  }
  .assetsValue {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: translateX(10px);
  }
  
  .assetsValue,
  .assetsType,
  .optionComposition {
	flex-basis: 60%;
	text-align: center;
  }
  
  .valueTitle,
  .typeTitle,
  .compositionTitle {
	color: #fff;
	font-size: clamp(14px, 1vw, 15px);
	text-align:center;
  }
  
  .assetsMarketValue,
  .assetsTypeValue,
  .compositionValue {
	padding:2px;
	font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important; /* font-family: "Space Grotesk", monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important; */
	font-weight: 200;
	font-size: clamp(15px, 1vw, 17px);
	background-color: #0f082e;
	background-color: #120d39;
	color: #188dd6;
	box-sizing: border-box;
 	width: 100%;
  }
  .assetsMarketValue {
	width: unset;
	text-shadow: 0 0 1.5vw #38409b;
	background-color: unset; /* disable to shade the value area */
	color: rgb(8, 231, 254);
	transform: translateX(0px);
	padding: unset;
  }
  .assetsTypeValue {
	border-radius: 5px;
	color: unset;
	padding: unset;
	font-size: clamp(13px, 1vw, 15px);
  }
  .assetsMarketValue, .valueTitle {
	font-size: clamp(18px, 2vw, 20px);
  }
  .valueTitle {
	background: url('../assets/imgs/moon4.webp') no-repeat right;
	background-size: contain;
	min-width: 30px;
	height: 30px;

	display: flex;
	justify-content: left;
	align-items: center;
	font-size: unset;
}
  
.assetsType {
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
	text-shadow: none;
	max-width: 110px;
	background-color: #089353;
	border: 2px solid #089353;
	border-radius: 5px; 
	
	/* for put options 
	background-color: #41014a;
  	border: 2px solid #41014a;
  */
}

.aType-call-option {
	background-color: #089353;
	border: 2px solid #089353;
}

.aType-put-option {
	background-color: #d6188a;
  	border: 2px solid #d6188a;
}
.aType-swap-option {
	background-image: linear-gradient(45deg, #1e2270 20%, #59005e 80%);
	border: 2px solid #490386;
}
  
  /* Option Strategy Values & Graphics */
.strategyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap:0;
}
.optionMarksHold {
    flex-basis: 50%; /* Take up remaining width */
}
.strategyHold {
    display: flex;
  	width: 210px;
	/* 10 oct 2023 dynamic positioning */
	align-items: center;
  	position: relative;
}
.strategyImage {
	display:block;
    flex-basis: 50%;
    height: 100%; /* Take 100% of the height of the .strategyHold */
	transform: scale(0.75) translateX(27px);
}
.strategyDataHold {
	transform: translateX(-15px);
	display: flex;
    flex-basis: 50%;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	font-family: "Space Grotesk", sans-serif;
	font-size: 9.5px;
	/* 10 oct 2023 dynamic positioning */
	height: 100%;
	position: absolute;
	right: 0;
}
.topValue-call {
	position: relative;
	color:#16ca83;
	height: 15px;
	width: 100%;
}
.topValue-call::after{
	content: "strike price";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -19px;
	width: 100%;
	height: 1px;
	color: #fff;
	font-size: 9.5px;
	font-weight: 100;
	letter-spacing: 0.1px;
	border-top: 1.3px dashed #16ca83;
}
.topValue-swap::after{
	content: "start";
	position: absolute;
	left: -1vw;
	right: 0;
	bottom: -15px;
	width: 100%;
	height: 1px;
	color: #fff;
	font-size: 9.5px;
	font-weight: 100;
	letter-spacing: 0.1px;
	border-top: 1.3px dashed #16ca83;
}
.topValue-call-preload::after{
	content: "" !important;
}
.bottomValue-call {
	color:#ef6565;
	white-space: nowrap;
	text-align: center;
	font-size: 8px;
	max-width:90px !important;
}
.topValue-put, .bottomValue-swap {
	color:#ef6565;
	white-space: nowrap;
	text-align: center;
	transform: translateY(-5px);
	max-width:90px !important;
}
.topValue-put::before{
	content: "strike price";
	position: absolute;
	left: 0;
	right: 0;
	top: 39px;
	width: 100%;
	height: 1.5px;
	color: #fff;
	font-size: 8.5px;
	font-weight: 100;
	letter-spacing: 0.1px;
	border-top: 1.2px dashed #e28d8d;
}
.topValue-put-preload::before{
	content: "" !important;
}
.bottomValue-put, .topValue-swap {
	position: relative;
	top:5px;
	color:#23e798;
	height: 15px;
	width: 100%;
}
  .optionMarkContainer {
	text-align: center;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	max-width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: none;
  }
  
  .optionMark {
	position: relative;
	width:100%;
	max-width: 210px;
	display: flex;
	
	padding: 0.4vw 0;
	box-sizing: border-box;
	text-align: center;
	font-size: clamp(12px, 1vw, 12.5px);
	font-weight: 100;
	line-height: 1;
	text-transform: unset;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 1vw;
	border: 0.5px dotted #08f;
	/* margin-block: 8px; */
  }
  
  .optionMark span {
	display: flex; /* Use flexbox */
	align-items: center; /* Align text vertically center */
	width: unset;
	min-width: 90px;
	text-align: left;
	padding-inline: 1vw 0px;
	/*
	font-family: Raleway, "monospace", "Space Grotesk", sans-serif !important;
	font-weight: 400;
	*/
	font-family: "monospace", "Space Grotesk", sans-serif !important;
	font-weight: 100;
	color: rgb(139, 149, 158);
  }
  @media (max-width: 400px) {
	.tl_hedgeCard {
		padding: 1vw;
	}
	.optionMark {
		max-width: 160px;
		padding: 1vw;
	}
	.optionMark span {
		min-width: 70px;
	}
	.strategyHold {
		transform: scale(0.9);
	}
}
  
  .oMfigure {
	min-width: unset !important;
	flex-grow: 1;
	text-align: left !important;
	font-size: clamp(12px, 1vw, 13px) !important;
	font-weight: 100 !important;
	color: #e8e8e8 !important;
	padding-inline: unset !important;
	white-space: nowrap;
}

.optionSummary{
    margin-top: 10px;
    width:100%;
    height:auto;
    min-height:30px;
    padding:3px 10px;
    padding-top:0;
    box-sizing:border-box;
    text-align:center;
    font-weight:400;
	color:#FFF;
	font-family: "Space Grotesk", monospace, sans-serif;
}
.statemark_ill_wish{
    background-image: url(../assets/imgs/cosmicwish.webp); /* fallback */
    background-image: url(../assets/imgs/cosmicwish.webp), linear-gradient(#252525, #252525); 
}
.statemark_ill_inprogress{
    background-image: url(../assets/imgs/cosmictravel.webp); /* fallback */
    background-image: url(../assets/imgs/cosmictravel.webp), linear-gradient(#252525, #252525); 
}
.statemark_ill_settled{
    background-image: url(../assets/imgs/cosmicsettled.webp); /* fallback */
    background-image: url(../assets/imgs/cosmicsettled.webp), linear-gradient(#252525, #252525); 
}
._socials{
    flex-basis:60% !important;
}
.option_S_tab{
    position: relative;
    display: inline-block;
    padding-top:10px;
    box-sizing: border-box;
    width:auto;
    text-align: center !important;
    font-size: clamp(12.2px, 1vw, 13.5px);
}
.actionButton{
    background-color: transparent;
    border-radius: 1.8rem;
    padding: 0.6rem 1.5rem;
    transition: background-color 0.8s, color 0.5s;
    cursor: pointer;
    
    font-family: "Space Grotesk", sans-serif;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica;
    font-weight:600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-inline:1vw;
}
.buyButton{
    color: rgba(255, 255, 255, 0.9);
    border:0.5px solid #089353;
}
.buyButton:hover {
	content: '';
    background-color: #089353;
    color: #FFF;
    border:0.5px solid #FFF;
	border: 2px solid rgba(255, 255, 255, 0.2) !important;
  	backdrop-filter: blur(10px) !important;
}
.activeButton{
    color: #08e7fe;
    border:0.5px solid #08e7fe;
}
.expiredButton{
    color: #d23969;
    border:0.5px solid #FFF;
}
.expiredButton:hover {
    background-color: #f623a1;
    color: #FFF;
    border:0.5px solid pink;
}
._activestate, ._bookmarkjump{
    height: 34.7px; 
    display: inline-block; 
    align-items: center; 
    justify-content: center;
}
._activestate img,._bookmarkjump img{
    width:16px !important;
    display:inline !important;
    border-radius: 0 !important;
    vertical-align: middle;
}
._bookmarkjump {
	cursor: pointer;
}
._bookmarkjump:hover > img {
	width: 18px;
	transition: all 0.3s ease-in-out;
}
.status-dot {
    font-size: clamp(12.2px, 1vw, 13.5px);
    font-weight:400 !important;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 50px;
}
.status-dot svg {
    font-size: 8px;
    margin-right: 4px;
}
.status-dot.filled, .status-dot.inprogress {
    background-color: rgb(209, 250, 229);
    color: rgb(16, 185, 129);
    color:#126c41
}
.status-dot.inrepaying {
    background-color:rgba(255, 179, 0, 0.2);
    color:#ffb300;
}
.status-dot, .status-dot.ended {
    background-color: rgb(255, 234, 239);
    color: rgb(255, 52, 101);
}
.view_option{
    display:inline !important;
    font-size: clamp(12.2px, 1vw, 13.5px);
    font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    color: #188dd6  !important; 
    font-weight:400 !important;
    white-space: nowrap;
}
.blockexplorer {
    display: inline-flex;
    padding: 2px;
    box-sizing: border-box;
	margin-left: 2vw;
	font-size: 10px;
	font-weight: 100;
}
.blockexplorer img{
    width:18px;
    color: #252525  !important;
}

/* =========================
	Buy Backs 
============================*/
.bbs_case {
	position: relative;
	width: 100%;
	margin: 0px auto;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid rgb(237, 238, 242);
	border-radius: 20px;
	background-color: rgb(247, 248, 250);
}
.bbs_case li{
	list-style:none;
	border-bottom:1px solid #CCC;
	text-align:left;
}
.buyback span{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #797979;
	color:#333;
}
.bb_date{
	float:right;
}
.buyback img{
	position:relative;
	top:2px;
	width:14px;
}
.buyback a{
	color: rgb(1, 154, 210);
	text-decoration:none;
}

/* stake success club only */
.stakesuccess{
	position: relative;
	width:400px;
	margin:0px auto;
	display: grid;
	row-gap: 12px;
	padding: 1rem;
	box-sizing: border-box;
	border: 1px solid rgb(237, 238, 242);
	border-radius: 20px;
	background-color: rgb(247, 248, 250);
	text-align:center;
	font-size: 17px;
	color: #797979;
}
.stakesuccessnotice{
	width:100%;
	margin:0px auto;
}
.stakesuccessnotice p{
	display:inline-block;
	width:auto;
	word-wrap:break-word;
	margin:0px auto;
}
.stakesuccessnotice img{
	margin-left:10px;
	width:16px;
	font-size:15px;
	display:inline-block;
}
.stakesuccessduration{
	color:#000;
	text-align:center;
	font-size:20px;
	font-weight: 500;
	-moz-box-pack: justify;
	justify-content: space-between;
	-moz-box-align: center;
	align-items: center;
}
.stakesuccessetherscan{
	color: rgb(136, 141, 155) !important;
	margin: 10px auto;
	font-size: 14px;
}
.stakesuccessetherscan img{
	width:16px;
	font-size:15px;
	display:inline;
}
.stakesuccessetherscan a{
	color: #04C86C !important;
	margin-left:7px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}
.stakesuccessetherscan a:visited{	
	color: #04C86C !important;
}
.stakesuccessetherscan a:hover{	
	color: #04C86C;
	font-weight:600;
	text-decoration:underline;
}
.stakepopulate{
	position:relative;
}

/* our socials */
.contacts_cont span{
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, Arial !important;
	font-size: clamp(14px, 2vw, 16px);
	line-height: 1.5;
	color: #FFF;
}
.our_social_links{
	display: inline-block;
	margin: 0 auto;
	padding: 2px;
	box-sizing: border-box;
	background-color: rgb(85, 152, 219);
	background-color: #008db8;
	box-shadow: 0 0 .1rem #0f0931, inset 0 0 .1rem #0f0931, 0 0 0.4rem var(--neon-border-color), inset 0 0 0.3rem var(--neon-border-color), 0 0 0.2rem var(--neon-border-color), inset 0 0 0.2rem var(--neon-border-color);
	box-shadow: 0 0 2px #188dd6, 0 0 3px #0e567c, 0 0 7px #188dd6, 0 0 7px #188dd6, 0 0 3px #188dd6, 1px 2px 1.5px #0e567c !important;
	border-radius: 50%;
	border:1px solid #08e7fe;
}
.our_social_links img{
	display: block;
	width: 28px;
	height: 28px;
	color: rgb(8, 231, 254);
}

/* CTA must be higher than side pane on floor.html */
section.cta{
	background-color: #130228;
	z-index:1;
	position: relative;
}
  /*=================
  Common NEON Styles
  ===================*/

  .no-hedges-message {
	position: relative;
	margin: 0px auto;
	padding: 4vw;
	box-sizing: border-box;
	
	text-align: center;
	font-family: "Space Grotesk", "Monospace", sans-serif;
	font-size: clamp(14px, 1vw, 15px);
	font-weight: 100;
	cursor: help;
	transition: background-color 0.3s;
	color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	border: 0.5px solid rgba(51, 153, 255, 0.5);
	border-radius: 8px;
	background-image: linear-gradient(to right, #08e7fe, #d6188a);
}  

.transparentTextLoading {
	color: transparent !important;
}

.alien-cowboy-title::before {
    content: '\1F47D'; /* Alien Emoji */
    margin-right: 10px;
    font-size: 24px;
}

.alien-cowboy-title::after {
    content: '\1F920'; /* Cowboy Emoji */
    margin-left: 10px;
    font-size: 24px;
}

/*===============================
      BOTTOM OF EVERY CSS FILE
=================================
*/
#loadOverlay{display: none;}
.loading_badge_place {
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height:15vw;
  width:15vw;
  text-align:center;
  z-index:150;
}


/* General Loading Animation on Pages */
@keyframes loading {
	0% {
	  transform-origin: 100% 100%;
	  transform: rotate(0deg);
	}
	100% {
	  transform-origin: 100% 100%;
	  transform: rotate(360deg);
	}
}
  .loading {
	position: relative;
	display: block;
	z-index: 13;
	margin: 5vw auto;
	width: 100px;
	height: 100px;
	border: 5px solid transparent;
	border-radius: 50%;
	background-color: transparent;
  }
  .loading:before {
	position: absolute;
	display: block;
	content: '';
	z-index: 12;
	top: 4px;
	left: 4px;
	width: 82px;
	height: 82px;
	border-radius: 50%;
	background-color: #0701112d; /* #0e0b34 gives circle look or, #0701112d : transparency gives radar look */
  }
  .loading:after {
	position: absolute;
	display: block;
	top: 0;
	content: '';
	z-index: 11;
	top: 0px;
	left: 0px;
	width: 45px;
	height: 45px;
	border-radius: 200px 0 0 0;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, #459ad7 60%, #08e7fe 100%);
	animation: loading 0.9s linear infinite;
  }