/*  NEON PROTOCOL ECOSYSTEM MODULE STYLESHEET */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,500,600,700,800');
@import url('https://fonts.cdnfonts.com/css/sf-mono');

body {
    background: radial-gradient(#18142d, #040115 80%) !important; 
    /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../assets/imgs/banner-bg.webp') !important;
    background-attachment: fixed !important;
    */
    scroll-behavior: smooth;
    font-family: "Space Grotesk", monospace, sans-serif !important;
}
header {
    border-bottom: 0.5px solid #15213c !important;
    padding-block: 0.5rem;
}
footer {
    background: unset !important;
}
main {
    position: relative;
    min-height: 50rem;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) 80%); */
    padding-block: 8rem 5rem;
    box-sizing: border-box;
    overflow: hidden !important;

    font-family: "Space Grotesk", monospace, sans-serif;
}
.testnetH {
    letter-spacing: 0.2vw !important;
    font-size: clamp(26px, 5vw, 40px);
    font-family: Raleway,monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    font-weight: 100;
}
#testnetWelcome {
    position: relative;
    width: 100%;
    max-width: 96rem;
    margin-top:2rem;
    padding:2rem 1rem;
    box-sizing: border-box;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 1.5px;
    font-size: clamp(14pt, 2vw, 17pt) !important;
    text-align: center;
    transition: 0.5s;
}
#testnetWelcome span {
    display: block;
    text-align: justify;
    font-size: clamp(13px, 1vw, 14px);
}
#testnetWelcome canvas {
    position: fixed;
    top:0;
    left:0;
    z-index:0;
}

.rewardsInformer, .testnetIntro {
    position: relative;
    z-index:1;
}
.testnetIntro {
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: 2rem;
    padding:1rem 2rem;
}

.rewardsInformer {
    visibility: hidden !important;
	padding: 5px 20px;
	font-size: clamp(13px, 1vw, 14px);
	font-weight: 200;
	text-align: center;
	cursor:help;
	transition: background-color 0.3s;
	color: #08e7fe;
    color: #FFF;
	border: 1px solid rgba(51, 153, 255, 0.25);
	border-radius: 8px;
/*
	background-color: rgba(29, 163, 216, 0.2);
	background-color: rgba(29, 129, 216, 0.2);
*/
	background-color: rgba(29, 129, 216, 0.25);
	/* animation: hideDiv 60s forwards;
	transition: 0.5s; */
}
@keyframes hideDiv {
	0% {
	  opacity: 1;
	  visibility: visible;
	}
	95% {
		opacity: 0.95;
	}
	99.9% {
	  opacity: 0;
	  visibility: hidden;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	  display: none;
	}
}

/*================================================================
        CITY SCAPE STYLES
=================================================================*/
.aboutTestnet, .aboutCityScape {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.aboutTestnet {
    flex: 50;
    background-color: #002644;
    /*
    border: 0.5px solid #3399ff;
    border:0.5px solid #08e7fe;
    */
    border-radius: 20px;
}
.aboutCityScape {
    flex: 45;
    align-items:center;
}
.aboutHead {
    padding:1.5rem;
    box-sizing: border-box;
}
.aboutHead h3 {
    color: #08e7fe;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}
/*
.aboutHead h3::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 40px; 
    top: 20%; 
    transform: translateY(-50%);
    animation: wigglePath 10s linear infinite;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-image: radial-gradient(circle, purple 20%, transparent 50%);
}
  
  @keyframes wigglePath {
    0% {
        background-position: top left;
    }
    40% {
        background-position: bottom center;
    }
    100% {
        background-position: top right;
    }
  }
*/

.jumpToTestnet .buttonsHold {
    padding-inline:unset;
    padding-block: 1rem 2rem;
    margin-top: -10px !important;
    justify-content: space-evenly;
}
.jumpToTestnet .buttonsHold a {
    color: #FFF !important;
    text-shadow: none !important;
    font-size: 1.1rem;
    border: 0.5px solid #08e7fe;
    padding: 0.5rem 1.2rem;
}
.testnetH {
    z-index: 1;
}
.testnetWindow {
    z-index: 1;
    position: relative;
    padding: 1vw;
    border-radius: 20px;
    border: 1px solid rgba(51, 153, 255, 0.15);
    background-color: rgba(29, 129, 216, 0.15);
    background-color: rgba(149, 243, 250, 0.2); /* hazy bg */
    margin-top: 2rem;
}
.testnetIntro {
    position: relative;
    /* top:-6.5rem; */
}
.aboutTestnetHold {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items:center;
    padding-bottom: 3.5rem;
    box-sizing: border-box;

    font-size: clamp(16px, 1vw, 18px);
    border-radius: 20px;
}
 /* ====================================================================
    TESTNET WORLD
=======================================================================*/
.testnetworld {
    display: grid;
    grid-template-columns: 300px auto;
    
	grid-template-columns: 1fr 1fr; /* 2 column grid */ 
    width: 100%;

    padding: 10px;
    box-sizing: border-box;
}
.testnet-widget {
    display: grid;
  position: relative;
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 10px;
  }
/* ====================================================================== 
     TESTNET VERSIONS SECTION
=======================================================================*/
.testnet-version-container {
  --glow-margin: 20px;
  padding-block: 10rem 0;
}
.t-v-v {
  padding-block: unset;
}
.testnet-versions-hold {
  margin-top: 20px;
  padding-block: unset;
}
.glass-border {
  position: relative;
  width: calc(100% - 40px);
  min-height: 20vh;
  margin: 2rem auto;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3); /* 0.2 original softer blur */
  display: block;
  border-radius: 10px;
  z-index: 1;
}

.glass-border::before, .glass-border::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2) !important; /* Border with translucency */
  backdrop-filter: blur(10px) !important; /* Apply a blur effect to create a frosted glass border */
  z-index: 2; /* Place the pseudo-elements above the content */
  transition: z-index 0.3s;
}

.glass-t-v-v {
  z-index: -1;
}
.glass-t-v-v::before, .glass-t-v-v::after {
  z-index: 0;
}

.glass-border:hover::before,
.glass-border:hover::after {
  z-index: -1; /* Change z-index on hover */
}

.glass-border::after {
  bottom: 2px;
  right: 2px;
}

.glass-border::before {
  top: 2px;
  left: 2px;
}
.software-versions {
  font-size: clamp(16px, 1vw, 18px);
  padding: 1vw;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Add some gap between entries for better spacing */
  overflow: hidden;
  background-color: rgba(149, 243, 250, 0.2);
  background-color: #002644;
  border-radius: 20px;
}
.glass-t-v-v .software-versions {
  z-index: 1;
}

.header, .entry {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; /* First two columns take 50% each, third column takes the rest */
  grid-template-columns: 0.8fr 1.2fr 1.5fr;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5); /* Translucent background for entries */
  background-color: rgba(149, 243, 250, 0.2);
}
.header {
  color :#08e7fe;
  font-weight: bold;
  background: none;
}

.version, .name, .portal-widget {
  text-align: center;
  font-family: monospace, "Space Grotesk", sans-serif;
  font-weight: 400;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.version h3 {
  text-align: center;
}
.version span {
  display: block !important;
  color: #a8a8a8;
  text-align: center !important;
  margin-block: -1px;
  padding-inline: 0.5rem;
}
.portal-widget {
  padding: 1vw;
  box-sizing: border-box;
  border-radius: 10px;
}
.portal-widget img {
  margin:0 auto;
  border-radius: 10px;
  max-width: 450px;
  cursor: pointer;
}
.name h3 {
  margin-bottom: unset;
}
.name p {
  padding-block: 1rem;
  font-size: clamp(13px, 1vw, 14px) !important;
  text-align: justify !important;
  color: #DDD !important;
}

/* Responsive design */
@media (max-width: 768px) {
  .software-versions {
    grid-template-columns: 1fr; /* One column for small screens */
  }
  .header, .entry {
    grid-template-columns: 1fr; /* One column for small screens */
  }
}

/* =================================================================
        TESTNET VERSION THEMES
================================================================= */

/* Skeleton Dance */

svg {
	fill: white;
	z-index: 10;
}
.glow {
	filter: drop-shadow(0 0 1px #07f0f8);
	animation: svg-shadow 0.4s ease-in-out infinite alternate;
}
@keyframes svg-shadow {
	from {
		filter: drop-shadow(0 0 6px #07f0f8);
	}

	to {
		filter: drop-shadow(0 0 4px #07f0f8) drop-shadow(0 0 8px #07f0f8);
	}
}

/* Lights */
.light {
	opacity: 0.4;
	position: absolute;
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	filter: blur(20px);
}
.light1 {
	top: 0;
	left: 50%;
	background-color: rgb(251, 38, 205);
	box-shadow: 0 0 60px 60px rgb(251, 38, 205);
	animation: spotlight1 8s infinite ease-in-out alternate-reverse;
}
.light2 {
	top: 10%;
	left: 10%;
	background-color: rgb(38, 251, 201);
	box-shadow: 0 0 60px 60px rgb(38, 251, 201);
	animation: spotlight2 8s infinite ease-in-out alternate-reverse;
}
.light3 {
	top: 60%;
	left: 80%;
	background-color: rgb(252, 249, 73);
	box-shadow: 0 0 60px 60px rgb(252, 249, 73);
	animation: spotlight3 8s infinite ease-in-out alternate-reverse;
}
@keyframes spotlight1 {
	40% {
		transform: translateY(60vh) translateX(3vh);
	}
	80% {
		transform: translateY(40vh) translateX(30vh);
	}
	100% {
		transform: translateY(-3vh) translateX(5vh);
	}
}
@keyframes spotlight2 {
	25% {
		transform: translateY(10vh) translateX(90vh);
	}
	50% {
		transform: translateY(90vh) translateX(20vh);
	}
	75% {
		transform: translateY(10vh) translateX(10vh);
	}
}
@keyframes spotlight3 {
	25% {
		transform: translateY(10vh) translateX(-90vh);
	}
	50% {
		transform: translateY(-90vh) translateX(-20vh);
	}
	75% {
		transform: translateY(10vh) translateX(-10vh);
	}
}
