/*=====================================
      HEDGE OPTIONS CARDS excl loans
  ======================================*/
  
  .hedgeGrid{
    position: relative;
    margin:0px auto;
    border-bottom: 0.5px dotted #a1a1a1;
    text-align: center;

    display: flex;
    justify-content: center;    
    padding-bottom: 10px;
    box-sizing: border-box;
}
.hedgeCard{
    position: relative;
    width: calc(100% - 1em);
    max-width:450px;
    display: inline-block;
    vertical-align: middle;
    border:0.5px solid #202A44;
    border-radius:5px;
    line-height:1.5;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
    font-size: clamp(14px, 2vw, 17px);

    padding:1vw;
    box-sizing:border-box;
    background-color: #0f082e;
    background: radial-gradient(#18142d, #1d1f56 80%) !important;
    background-position: top right;
    background-repeat: no-repeat;
    color:#EEE;
}
.tokenLogoLeft {
    position: relative;
    margin-inline: 1.5vw;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
  }
  .tokenName{
    display: inline-block;
    font-weight: 600;
    font-size: clamp(17px, 2vw, 20px);
    text-align:left;
  }
  .bagsize{
    width:100%;
    line-height:20px;
    font-size: 13px;
    color:#188dd6;
    text-align: center;
  }
  .valueHold{
    margin:15px 0;
  }
  .flux {
    display: inline-block;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
  }
  .optionMarketValue{
    /* color:#0c9556; */
    color: #188dd6;
    text-shadow: 0 0 1.5vw #38409b;
  }
  .optionMarketValue, .optionType{
    position: relative;
    height:auto;
    font-size: clamp(16px, 2vw, 18px);
    padding-inline: 10px;
  }
  .optionType {
    display: inline-block;
    color: #FFF;
    text-shadow: 0 0 1.5vw #FFF;
    background-color: #089353;
    border-radius: 1.8rem;
    border-radius: 7px;
    line-height:1.5;
  }
  .optionMark{
    position: relative;
    height:auto;
    width:85%;
    margin:3px auto;
    display:block;
    border-radius:1vw;
    padding:2px;
    box-sizing: border-box;
    text-align: center;
    
    font-size: clamp(13.5px, 1vw, 15.5px);
    font-weight: 100;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .highlightOption{
    padding-top:2px;
  }
  .optionMark span{
    display: inline-block;
    width:40%;
    text-align: right;
    padding-inline: 8px;
    letter-spacing: 0.5px;
  }
  .oMfigure{
    text-align: left !important;
  }
  .optionSummary{
    margin-top: 15px;
    width:100%;
    height:auto;
    min-height:30px;
    padding:3px 10px;
    padding-top:0;
    box-sizing:border-box;
    text-align:center;
    font-weight:400;
    color:#DDD;
    font-family:monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans";
  }
  ._socials{
    flex-basis:60% !important;
  }
  .option_S_tab{
    position: relative;
    display: inline-block;
    padding-top:10px;
    box-sizing: border-box;
    width:auto;
    text-align: center !important;
    font-size: clamp(12.2px, 1vw, 13.5px);
  }
  .actionButton{
    background-color: transparent;
    border-radius: 1.8rem;
    padding: 0.6rem 1.5rem;
    transition: background-color 0.8s, color 0.5s;
    cursor: pointer;
    
    font-family: "Space Grotesk", sans-serif;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-inline:1vw;
  }
  .buyButton{
    color: rgba(255, 255, 255, 0.9);
    border:0.5px solid #089353;
  }
  .buyButton:hover {
    background-color: #252525;
    color: #089353;
    border:0.5px solid #FFF;
  }
  .activeButton{
    color: rgba(255, 255, 255, 0.9);
    border:0.5px solid #089353;
  }
  .expiredButton{
    color: #d23969;
    border:0.5px solid #FFF;
  }
  .expiredButton:hover {
    background-color: #252525;
    color: #d22b60;
    border:0.5px solid pink;
  }
  ._activestate, ._bookmarkjump{
    height: 34.7px; 
    display: inline-block; 
    align-items: center; 
    justify-content: center;
  }
  ._activestate img,._bookmarkjump img{
    width:16px !important;
    display:inline !important;
    border-radius: 0 !important;
    vertical-align: middle;
  }
  .status-dot {
    font-size: clamp(12.2px, 1vw, 13.5px);
    font-weight:400 !important;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 50px;
  }
  .status-dot svg {
    font-size: 8px;
    margin-right: 4px;
  }
  .status-dot.filled, .status-dot.inprogress {
    background-color: rgb(209, 250, 229);
    color: rgb(16, 185, 129);
    color:#126c41
  }
  .status-dot.inrepaying {
    background-color:rgba(255, 179, 0, 0.2);
    color:#ffb300;
  }
  .status-dot, .status-dot.ended {
    background-color: rgb(255, 234, 239);
    color: rgb(255, 52, 101);
  }
  .view_option{
    display:inline !important;
    font-size: clamp(12.2px, 1vw, 13.5px);
    font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    color: #188dd6  !important; 
    font-weight:400 !important;
    white-space: nowrap;
  }
  .social_links {
    display: inline-flex;
    flex-basis: 40%;
    padding: 2px;
    box-sizing: border-box;
    background-color: #252525 ;
    }
  .social_links img{
    width:18px;
    color: #252525  !important;
  }