/* 1. CSS MAIN */
  
  @media (min-width: 55em) {
    .container {
      text-align: left;
      margin-inline: auto;
    }
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .gtc-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .gtc-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .gtc-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    .order-md-2 {
      order: 2;
    }
  }
  
  .intro-container {
    margin-top:0;
    /*
    background-image: linear-gradient(to bottom right,#0401154d,#040115e6); */
    border-radius: 2rem;
  }
  .introductionHold {
    margin: 5rem auto !important;
    margin-bottom: 0;
    /* - shade the whole container not just the card 
    background: radial-gradient(rgba(4, 1, 21, 0.7) 20%, rgba(4, 1, 21, 0.95) 80%) !important; */
    background: radial-gradient(rgba(4, 1, 21, 0.95) 40%, rgba(4, 1, 21, 0.7) 80%) !important;/* shades inwards - blurry bg effect */  
    border-radius: 2rem;
    font-family: "Nunito Sans", monospace, sans-serif;
  }
  
  .introductionHold p{
    padding-block:1vw;
    box-sizing: content-box;
    max-width: 600px;
    font-size: clamp(27px, 6vw, 37px);
    font-weight: 100;
    line-height: 1.4;
    border-radius: 1.5vw;
    caret-color: transparent;
  }
  .introductionHold small{
    box-sizing: content-box;
    display: block;
  }
  .introductionHold h1, .introductionHold p, .introductionHold small, .buttonsHold{
    padding-inline-start: 1rem;
    box-sizing: border-box;
  }
  .buttonsHold{
    margin-top:1vh !important;
  }
  @media (max-width: 600px) {
    .introductionHold {
      text-align: left;
      padding-inline: 3vw;
    }
    .introductionHold p {
      text-align: left;
      margin-bottom:20px;
      font-size: clamp(23px, 4vw, 30px) !important;
    }
    .buttonsHold {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      margin-block:10vw !important;
    }
    .introductionHold small{
      display: block;
    }
  }

  
#slider {
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../assets/imgs/tgbconcept.png'); */
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%, auto;
    background-repeat: no-repeat;
  }
  #slider div.grid {
    gap: 1rem;
    z-index: 10;
  }
  #slider canvas {
    position: absolute;
    top:0;
    width:100%;
  }
  #slider h1 {
    margin-top: 2rem;
    /* color: rgba(255, 255, 255, 0.9); */
    background: unset;
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
  }
  #slider div {
    
  }
  @media (max-width: 55em) {
    .space-vortex {
      margin-bottom: -4rem !important;
    }
    #slider div {
      margin: 0 0 2rem;
    }
    #slider {
      min-height: 85vh;
      line-height: 1;
    }
    #slider .container {
      padding-top: 0;
    }
    #slider .container h1 {
      font-size: 2.2rem;
      margin-bottom: 1.2rem;
      display: block;
      text-align: left;
    }
    #slider .container img {
      max-width: 60%;
      margin-bottom: 0rem;
    }
    #slider .container div a.btn {
      padding-inline: 1.5rem;
    }
    #slider .container div:last-child {
      margin-top: 2rem !important;
      max-width: 30rem;
    }
  }
  @media (min-width: 44.5em) {
    #slider {
      min-height: 55rem;
    }
  }
  
  @media (min-width: 55em) {
    section.intro h1 {
      grid-column: span 2;
    }
    section.intro img {
      right: -30%;
      left: unset;
    }
    .out-container {
      position: relative;
      width: 150%;
      width:130%;
      left: -30%;
    }
    .bg-dark-circle {
      background-position: 22% 85%, center;
      background-size: 40%, auto;
      margin-block: 0;
    }
  }
  
  /*=======================================
      MOON MISSION
    =====================================*/
  #missionHold {
    margin-block-end: 10vw;
  }
  
  .moonMission {
    font-size: clamp(50px, 4vw, 70px);
    text-align: center;
    margin-block: 2vw 5vw;
    color: #08e7fe;
    color:#38eeff;
    text-shadow: 3px 0 1px #188dd6, 3px 0 1px #188dd6, 0 0 1px #188dd6, 0 0 10px #38eeff, 0 0 3px #38eeff, 2px 2px 0.5px #38eeff !important;
    text-shadow: 0 0 1px #188dd6, 0 0 1px #188dd6, 0 0 1px #188dd6, 0 0 100px #188dd6, 0 0 30px #188dd6, 3px 3px 0.5px #188dd6 !important;
  }
  
  .firstMoon {
    font-size: clamp(20px, 3vw, 30px);
    margin:2vw !important;
  }
  
  .moonMission {
    -webkit-animation: move 4s infinite ease-in-out alternate;
    animation: move 4s infinite ease-in-out alternate;
    transform-origin: center;
    transition: 1s ease;
  }
  
  .howitworks .moonMission {
    margin-bottom: 0;
  }
  
  #mission, #neon_protocol, #platform, #neon-howitworks, #hedgingTools, #uxDesign, #mediaH1, #timeline, #tokenomicsH1 {
      font-size: clamp(26px, 3vw, 36px);  
      font-weight:500;
      font-size: clamp(32px, 3vw, 42px);  
      font-family: 'Raleway',monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
      font-weight: 200;
    /* color:#08e7fe; */
    letter-spacing: 1px;
    caret-color: transparent;
  }
  
  #hedgingTools {
    display: inline-flex;
    line-height: 1.5;
    column-gap:1vw;
  }
  
  #hedgingTools a {
    display: inline-flex;
    align-content: center;
  }
  
  #hedgingTools img {
    width:50px;
    align-self: center;
  }
  
  .neon-blue {
    text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;  
    color: #92f1fc !important;
    color: #08e7fe !important;/* darker */
  }
  
  .howitworks img {
    width: clamp(250px, 30vw, 400px) !important;
  }
  
  #trav {
    letter-spacing: 0.5vw;
      -webkit-animation: blink 0.01s infinite alternate;
      -moz-animation: blink 0.01s infinite alternate;
      -o-animation: blink 0.01s infinite alternate;
      animation: blink 0.01s infinite alternate;
  }
  
  #glitch {
      text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;
    color: #92f1fc !important;
    color: #08e7fe !important; /* darker */
      -webkit-animation: fadee 7s infinite alternate;
      -moz-animation: fadee 7s infinite alternate;
      -o-animation: fadee 7s infinite alternate;
      animation: fadee 7s infinite alternate;
  }
  
  .neon-purple {
      font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans"!important;
      font-size: clamp(17px, 2vw, 30px);
      margin: 0 auto;
      text-align: center;
      color: #38eeff;
      text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 6px #fff, 0 0 6px #38eeff, 0 0 30px #38eeff;
  }
  
  @-moz-keyframes blink {
      70% {
      opacity: 0.8;
      }
  }
  @-webkit-keyframes blink {
      45% {
      opacity: 0.8;
      }
  }
  @-o-keyframes blink {
    70% {
      opacity: 0.8;
    }
  }
  @keyframes blink {
    70% {
      opacity: 0.8;
    }
  }
  @-moz-keyframes fadee {
    35% {
      opacity: 0.8;
    }
    40% {
      opacity: 0.7;
    }
    42% {
      opacity: 0.6;
    }
    44% {
      opacity: 0.4;
    }
    46% {
      opacity: 0.8;
    }
    48% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
    52% {
      opacity: 0.5;
    }
    53% {
      opacity: 0.8;
    }
  }
  @-webkit-keyframes fadee {
    35% {
      opacity: 0.8;
    }
    40% {
      opacity: 0.7;
    }
    42% {
      opacity: 0.6;
    }
    44% {
      opacity: 0.4;
    }
    46% {
      opacity: 0.8;
    }
    48% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
    52% {
      opacity: 0.5;
    }
    53% {
      opacity: 0.8;
    }
  }
  @-o-keyframes fadee {
    35% {
      opacity: 0.8;
    }
    40% {
      opacity: 0.7;
    }
    42% {
      opacity: 0.6;
    }
    44% {
      opacity: 0.4;
    }
    46% {
      opacity: 0.8;
    }
    48% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
    52% {
      opacity: 0.5;
    }
    53% {
      opacity: 0.8;
    }
  }
  @keyframes fadee {
    35% {
      opacity: 0.8;
    }
    40% {
      opacity: 0.7;
    }
    42% {
      opacity: 0.6;
    }
    44% {
      opacity: 0.4;
    }
    46% {
      opacity: 0.8;
    }
    48% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
    52% {
      opacity: 0.5;
    }
    53% {
      opacity: 0.8;
    }
  }
  
  /*=======================================
      SOLAR SECTION
    =====================================*/
  #solarSection, #newsSection{
    position:relative;
    padding:3em 0;
    box-sizing: border-box;
  
    background: radial-gradient(#040115 20%, #040115 80%) !important;
  }
  @media screen and (max-width: 600px) {
    #solarSection, #newsSection{
      min-height: 400px;
    }
  }
  .sectionH1{
    margin-block: 5vw;
    font-size: clamp(28px, 3vw, 40px) !important;
    font-weight: 400;
    padding:0 8vw;
    box-sizing: border-box;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
  }
  .usecase h1, .highlights h1 {
    margin-top: 20px;
  }
  .NHT, .NLT, .NFT {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: clamp(20px, 3vw, 25px);
    font-family: 'Raleway',monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    font-weight: 100;
  }
  .NHT {
    color: rgb(44, 228, 146);
    text-shadow: rgb(8, 149, 86) 0px 0px 2px, rgb(8, 149, 86) 0px 0px 3px, rgb(8, 149, 86) 0px 0px 15px, rgb(8, 149, 86) 0px 0px 15px, rgb(8, 149, 86) 0px 0px 3px, rgb(1, 67, 36) 3px 3px 0.5px;
  }
  .NLT {
    color: #08e7fe;
    text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c;
  }
  .NFT {
    color: #a824d7;
    text-shadow: #650089 0px 0px 2px, #650089 0px 0px 3px, #650089 0px 0px 15px, #650089 0px 0px 15px, #650089 0px 0px 3px, #4a0663 3px 3px 0.5px;
    color: #d056fc;
    text-shadow: #9c0ad1 0px 0px 2px, #9c0ad1 0px 0px 3px, #9c0ad1 0px 0px 15px, #9c0ad1 0px 0px 15px, #9c0ad1 0px 0px 3px, #4a0663 3px 3px 0.5px;
  }
  .aishapeTools {
    margin-inline: 3rem;
    height: 100%;
    animation: morphing 16s linear infinite;
    border-radius: 50% 40% 35% 50% / 50% 35% 50% 40%;
    background: linear-gradient(45deg, #0a0119 20%, #040115 80%);
    border: 0.5px dashed #3399ff;
    padding-block: 3rem;
    box-sizing: border-box;
    transition: 2s ease-in-out !important;
  }
  
  @keyframes morphing {
    0% {
      border-radius: 30% 60% 30% 30% / 15% 40% 20% 20%;
      background: linear-gradient(45deg, #330267 30%, #0a0119 80%);
      transition: all 0.5s ease-in-out;
    }
  
    50% {
      border-radius: 30% 10% 40% 20% / 50% 20% 30% 40%;
      background: linear-gradient(45deg, #0a0119 35%, #370170 80%);
      transition: all 0.5s ease-in-out;
    }
  
    100% {
      border-radius: 30% 60% 30% 30% / 15% 40% 20% 20%;
      background: linear-gradient(45deg, #330267 30%, #0a0119 80%);
      background: linear-gradient(180deg, #0a0119, #0f0327, #0e042e, #160738, #1c073f, #1d0641, #230448, #26014c, #310160, #2f025a, #2c0253, #1e0238);
      transition: all 0.5s ease-in-out;
    }
  }
  
  /* sophisticated blob but heavy on GPU
  
  @keyframes morphing {
    0% {
      border-radius: 30% 60% 40% 30% / 15% 40% 30% 20%;
      background: linear-gradient(45deg, #370463 0%, #040115 100%);
    } 
  
    40% {
      border-radius: 50% 20% 40% 40% / 40% 15% 60% 30%;
      background: linear-gradient(45deg, #270855 0%, #040115 100%);
      background: linear-gradient(45deg, #270855 20%, #040115 80%);
    } 
    
    80% {
        border-radius: 30% 20% 30% 20% / 50% 40% 50% 20%;
        background: linear-gradient(45deg, #040115 0%, #270855 100%);
        background: linear-gradient(45deg, #040115 35%, #270855 80%);
    }
    100% {
      border-radius: 30% 60% 40% 30% / 15% 40% 30% 20%;
      background: linear-gradient(180deg, #040115 4%, #2d0a61 100%);
      background: linear-gradient(180deg, #040115 20%, #2d0a61 100%);
    } 
  }
  */
  span.ecosystemToolsIntro {
    width: 100%;
    display: block;
    text-align: start;
    padding-inline: 30vw;
    box-sizing: border-box;
  }
  @media screen and (max-width: 600px) {
    span.ecosystemToolsIntro {
      padding-inline: 15vw;
      font-size: 1rem;
    }  
  }
  .usecase {
    border: 0.5px solid #08e7fe;
    border-radius: 2vw;
    padding: 1.2vw 2.5vw;
    box-sizing: border-box;
    min-width: 250px;
    background: rgba(0,0,0,0.2);
  }
  .usecase a {
    font-size: 14px;
  }
  .usecase h3 {
    margin-bottom: 1rem;
    place-content: space-between;
    display: flex;
    font-size: clamp(1rem, 2vw, 1.3rem);
  }
  .usecase h3 a {
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    font-size: 400;
    align-self: center;
  }
  .usecaseCont {
    margin-top: 2.5rem;
    column-gap: 1rem !important;
    place-content: space-around;
    box-sizing: border-box;
    grid-template-columns: 75% 25%;
  }
  .midcaseCont {
    grid-template-columns: 25% 75%;
  }
  @media screen and (max-width: 600px) {
    .usecaseCont, .midcaseCont {
      grid-template-columns: 100%;
      row-gap: 1rem;
    }
    .usecaseCont .usecase {
      order: 2;
    }
    .usecase h3 a {
      text-align: center;
    }
    .usecase h3 {
      margin-bottom: 1rem;
    }
    .aishapeTools {
      width: auto;
      margin-inline: 1rem;
      border-radius: 20% 22% 18% 30% / 30% 18% 30% 12%;
    }
    .toolImage {
      font-size: clamp(40px, 4vw, 70px);
    }
    
    @keyframes morphing {
      0% {
        border-radius: 15% 30% 24% 24% / 20% 10% 16% 16%; 
      } 
        
      50% {
        border-radius: 20% 15% 2% 16% / 5% 20% 16% 2%; 
      }
    
      100% {
        border-radius: 15% 30% 24% 24% / 20% 10% 16% 16%;
      } 
    }
    
  }
  .usecaseCont img {
    max-width: clamp(400px, 5vh, 600px);
    border: 0.5px solid var(--neon-border-color);
    /* box-shadow:
            0 0 .1rem #38127c,
            0 0 2rem var(--neon-border-color),
            0 0 0.3rem var(--neon-border-color); */
    box-shadow: 0 0 5px #38127c, 0 0 3px #38127c, 0 0 5px #38127c, 0 0 100px #38127c, 0 0 1px #38127c, 1px 1px 1px #38127c !important; 
  }
  .toolImage {
    font-size: clamp(80px, 6vw, 100px);
    font-weight: 100;
    border-radius: 50%;
    color: #040115;
    text-shadow: 0 0 2px var(--neon-border-color), 0 0 3px var(--neon-border-color), 0 0 10px var(--neon-border-color), 0 0 10px var(--neon-border-color), 0 0 3px var(--neon-border-color), 2px 2px 0.5px var(--neon-border-color);
  }

  .swapsToolImg {
    text-shadow: 0 0 2px #7e22ce, 0 0 3px #7e22ce, 0 0 10px #7e22ce, 0 0 10px #7e22ce, 0 0 3px #7e22ce, 2px 2px 0.5px #7e22ce;
  }
  .loansToolImg {
    text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 10px #188dd6, 0 0 10px #188dd6, 0 0 3px #38eeff, 2px 2px 0.5px #38eeff;
  }
  .hedgesToolImg {
    text-shadow: 0 0 2px #089353, 0 0 3px #089353, 0 0 10px #089353, 0 0 10px #089353, 0 0 3px #38eeff, 2px 2px 0.5px #38eeff;
  }
  .howitworks {
    padding-block: 3vw 1vw;
  }
  .howitworks img{
    width: 100%;
    height:auto; /* width 100% & height auto = responsive image */
    cursor: pointer;
    /*
    box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.352rem var(--neon-border-color), inset 0 0 0.25rem var(--neon-border-color), 0 0 0.16rem var(--neon-border-color), inset 0 0 0.16rem var(--neon-border-color);
    */
  }
  .hedgingToolsNotes {
    padding-inline: 5vw;
    text-align: justify;
  }
  .hedgingToolsNotes h3 {
    font-size: 1.2rem;
  }
  .hedgingToolsNotes h5 {
    font-weight: 500;
  }
  .sectDescription {
    padding-inline:3vw;
    box-sizing: border-box;
    margin:2vw auto;
    width: 100%;
    max-width: 900px;
    font-size: clamp(14px, 1vw, 15px) !important;
    color: #FFF;
    text-align: justify;
  }
  /* NEWS SECTION */
  #newsSection{
    text-align: center;
  }
  .newsCard{
    display: inline-block;
    text-align:center;
    cursor:pointer;
    margin: 1.2em;
  }
  .articlePic{
    margin:0px auto;
    min-height:120px;
    border-radius:2vw 2vw 0 0;
    background-color: #38127c;
    border:1px solid #38127c; 
  }
  #article1{
    background-image: url(../assets/imgs/banks.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #article2{
    background-image: url(../assets/imgs/funds.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .newsCard{
    max-width: 400px;
    gap: 0;
    place-items: center;
    grid: min-content;
    grid-template-columns: repeat(1,1fr);
  }
  .highlights{
    animation: marker 5s infinite alternate;
    border: 0.5px solid #fff;
    border-radius: 2vw;
    padding: 0.6vw 1.2vw;
    box-sizing: border-box;
    font-size: 15px;
  }
  .highlights h1{
    font-size:clamp(20px, 2vw, 25px);
    margin-bottom: 0.5vw;
  }
  .preview{
    font-size: clamp(13.5px, 1vw, 14.5px);
    text-align: justify;
    font-weight: 400;
  }
  /* Animate neon flicker */
  @keyframes flicker {
      
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
            0 0 .2rem #fff,
            inset 0 0 .2rem #fff,
            0 0 1.5rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color),
            0 0 0.65rem var(--neon-border-color),
            inset 0 0 0.65rem var(--neon-border-color);
  
            box-shadow: 0 0 0.5rem whitesmoke, inset 0 0 0rem var(--neon-border-color), 0 0 2rem var(--neon-border-color), inset 0 0 0.1rem var(--neon-border-color), 0 0 0.2rem var(--neon-border-color), inset 0 0 0.1rem var(--neon-border-color);   
    }
    
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
  }
  @keyframes marker {    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
            0 0 .1rem #fff,
            inset 0 0 .1rem #fff,
            0 0 0.7rem var(--neon-border-color),
            inset 0 0 0.5rem var(--neon-border-color),
            0 0 0.3rem var(--neon-border-color),
            inset 0 0 0.3rem var(--neon-border-color);        
    }
    20%, 24%, 55% {        
        box-shadow: none;
    }    
  }
  /*=======================================
      HOW IT WORKS: OPTIONS & EQUITY SWAPS
    =====================================*/
  .worksHold{
    display: flex;
    flex-wrap: wrap;
  }
  .callOptions, .putOptions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 6vw;
    padding-top: unset;
  }
  .callOptions h2, .putOptions h2 {
    display: inline-flex;
    line-height: 1.5;
    column-gap:1vw;
    align-content: center;
    font-size: clamp(18px, 2vw, 22px);
    font-weight: 500;
  }
  .callOptions h2 img, .putOptions h2 img {
    width:48px;
    align-self: center;
  }
  @media (max-width: 680px){
    .callOptions, .putOptions {
      flex-basis: 100%;
      max-width: 100%;
    }
    .callOptions h2 img, .putOptions h2 img {
      width:32px;
    }
  }
  .callDescription {
    width: 100%;
    color: rgb(8, 231, 254);
    font-size: clamp(14px, 1vw, 15px);
    font-weight: 100;
    text-align: left;  
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.5vw;
    border: 0.5px solid #3399ff;
    background-color: rgba(29, 129, 216, 0.15);
  }
  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* stretch out
    margin-right: -15px;
    margin-left: -15px;  */
    background-color: #040115;
    background: none;
    border: 1px dashed #39f;
    border-radius: 2%;
  }
  .col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-block: 5px;
    padding-inline: 15px;
    box-sizing: border-box;
  
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    flex-basis: 50%;
    text-align: left;
  }
  .counts{
    color: #08E7FE;
    font-size: 22px;
  }
  .heading_right {
    color: #FFF;
    font-size: clamp(13px, 1vw, 14px) !important;
    padding-top: 5px;
    box-sizing: border-box;
  }
  .text_p {
    font-size: 13px;
    padding-top: 10px;
    color: #D1D1D1;
    font-weight: 500;
  }
  .guideContainer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    place-content: stretch;
    column-gap: 1vw;
    background-color: rgba(29, 129, 216, 0.13);
    border-radius: 0.5vw;
    padding: 0.5vw;
    padding-top: 1rem;
  }
  .guideGrid {
    display: grid;
  }
  .depositGrid {
    border:0.5px dashed #39f;
    border-radius: 1rem;
    padding:1vw;
    box-sizing: border-box;
    border-block: 0.5px dashed #39f;
  }
  .vaultStorage {
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed #39f;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .titlevS {
    border: unset;
    background: none;
  }
  .vaultStorage h3 {
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
    color:#08E7FE;
  }
  .vaultStorage p {
    font-size: 13px;
    text-align: center;  
    padding-bottom: 10px;
  }
  .depositGrid p {
    font-size: 15px;
    text-align: center;  
    padding-block: 10px;
    color:#08E7FE;
  }
  .guideGrid img {
    width: 64px;
    height:64px;
    margin: 0px auto;
    border-radius:50%;
    /* border: 0.5px solid rgb(8, 231, 254); */
    padding: 2px;
    box-sizing: border-box;
  }
    
/*==================================
    TIMELINE
===================================*/
#roadmap{
    background-image: url("../assets/imgs/launch.webp"), radial-gradient(#16112f, #040115 80%); 
    background-color: #16112f;
    background-size: 35%;
    background-position: center;
    background-repeat:repeat-x;
  }
  .Container_container__WAGEk {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-family:monospace, sans-serif, "Helvetica Neue", Helvetica, Arial !important;
    font-size: clamp(14px, 1vw, 15.5px);
    color:#FFF;
  }
  .Roadmap_roadmapGrid__cKmwx {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2vw;
      grid-template-areas:
      "a b" 
      "c d" 
      "e f" 
      "g h" 
      "i j" 
      "k l";
      justify-items: start;
  }
  .Roadmap_roadmapItem__LU10a {
   /* margin:1vw auto; */
  }
  .Roadmap_itemOne__Q3yOw {
    grid-area: a;
    margin-left: auto !important;
  }
  .Roadmap_itemTwo__2bPYf {
    grid-area: b;
  }
  .Roadmap_itemThree__ZZs5e {
    grid-area: c;
    margin-left: auto !important;
  }
  .Roadmap_itemFour__4VmPh {
    grid-area: d;
  }
  .Roadmap_itemFive__FmZiS {
    grid-area: e;
    margin-left: auto !important;
  }
  .Roadmap_itemFive__3Pcy2F{
    grid-area: f;
  }
  .Roadmap_roadmapItem__LU10a h3 {
    line-height: 50px;
    margin-bottom: 15px;
  }
  .Roadmap_roadmapItem__LU10a p {
    line-height: 160%;
    max-width: 364px;
  }
  .Roadmap_itemTwo__2bPYf h3, .Roadmap_itemTwo__2bPYf p {
    text-align: justify;
  }
  .Roadmap_itemFour__4VmPh h3, .Roadmap_itemFour__4VmPh p {
    text-align: justify;
  }
  .Roadmap_itemFive__3Pcy2F h3, .Roadmap_itemFive__3Pcy2F p{
    text-align: justify;
  }
  /* BORDER GLOW TIMELINE */
  .glow1{
    border: 1px solid transparent;
    border-radius: 2vw;
    background-image: linear-gradient(#000,#000),linear-gradient(to bottom right,#02182c,#188dd6 56.46%,#188dd6 86.35%);
    background-origin: border-box;
    background-clip: padding-box,border-box;
    padding:1vw 2vw;
    box-sizing: border-box;
  }
  .glow2{
    border: 1px solid transparent;
    border-radius: 2vw;
    background-image: linear-gradient(#000,#000),linear-gradient(to bottom right,#02182c,#188dd6 56.46%,#188dd6 86.35%);
    background-origin: border-box;
    background-clip: padding-box,border-box;
    padding:1vw 2vw;
    box-sizing: border-box;
  }
  .glow3{
    border: 1px solid transparent;
    border-radius: 2vw;
    background-image: linear-gradient(#000,#000),linear-gradient(to bottom right,#188dd6,#02182c 56.46%,#188dd6 86.35%);
    background-origin: border-box;
    background-clip: padding-box,border-box;
    padding:1vw 2vw;
    box-sizing: border-box;
  }
  /*--------------------------------------------------------*/
  /*	7. CARDS */
  /*--------------------------------------------------------*/
  .card {
    position: relative;
    border-radius: 1.5rem;
    padding: 1.2rem;
    overflow: hidden;
  }
  .card * > :last-child {
    margin-bottom: 0;
  }
  .card img {
    transform: translateY(-4rem);
  }
  .card .card-overlay {
    position: absolute;
    inset: 0;
    top: unset;
    padding: 2rem 1.2rem;
    border-radius: 1.5rem 0 0 0;
    background: linear-gradient(45deg, #188dd6, #050c1c 80%);
    transition: 0.35s ease-in-out;
    z-index: 1;
  }
  .card .card-overlay::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(2, 192,202)"><path d="M 40 80 c 22 0 40 -22 40 -40 v 40 Z"></path></svg>');
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 70px;
    height: 70px;
  }
  .card .card-overlay h2 {
    margin-bottom: 0;
  }
  .card .card-overlay > p:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  .card .card-overlay i {
    font-size: calc(1.2rem * 1.618);
    color: rgba(255, 255, 255, 0.9);
  }
  @media (min-width: 55em) {
    .card img {
      transform: none;
    }
    .card .card-overlay {
      transform: translateY(56%);
    }
    .card .card-overlay:hover {
      transform: translateY(0);
    }
  }
  
  /*--------------------------------------------------------*/
  /*	8. ECOSYSTEM TOKEN */
  /*--------------------------------------------------------*/
  #tokenomics {
    background: radial-gradient(#120e27, #040115 80%);
  }
  #tokenomics h4 {
    text-align: justify;
    font-weight: 300;
    padding-bottom: 1rem;
    max-width: 85rem;
    padding-inline: 1.2rem;
    display: block;
    margin-inline: auto;
  }
  .experienceCont {
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 35% !important;
    gap:0;
    column-gap: 1rem;
    margin-bottom: 3rem;
  }
  .experience {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .tokenInformation {
    position: relative;
  }
  .tokenInformation h2, .tokenInformation h3, .tokenInformation p {
    font-size: 1.3rem !important;
  }
  @media (max-width: 650px) {
      .experienceCont {
          grid-template-columns: 1fr !important;
      }
    #tokenomics h4 {
      text-align: left;
    }
    .experience {
      display:none;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .tokenInformation h2, .tokenInformation h3, .tokenInformation p {
      font-size: 1.2rem !important;
    }
  }
  