/*  NEON PROTOCOL ECOSYSTEM MODULE STYLESHEET */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,500,600,700,800');
@import url('https://fonts.cdnfonts.com/css/sf-mono');

body {
    background: radial-gradient(#18142d, #040115 80%) !important; 
    /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../assets/imgs/banner-bg.webp') !important;
    background-attachment: fixed !important;
    */
    scroll-behavior: smooth;
    font-family: "Space Grotesk", monospace, sans-serif !important;
}
.neon-blue {
	text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;  
	color: #92f1fc !important;
	color: #08e7fe !important;/* darker */
}
header {
    border-bottom: 0.5px solid #15213c !important;
    padding-block: 0.5rem;
}
footer {
    background: unset !important;
}
main {
    position: relative;
    min-height: 50rem;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) 80%); */
    padding-block: 8rem 5rem;
    box-sizing: border-box;
    overflow: hidden !important;

    font-family: "Space Grotesk", monospace, sans-serif;
}
.testnetH {
    letter-spacing: 0.2vw !important;
    font-size: clamp(26px, 5vw, 40px);
    font-family: Raleway,monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    font-weight: 100;
}
#testnetWelcome {
    position: relative;
    width: 100%;
    max-width: 96rem;
    padding:2rem 1rem;
    box-sizing: border-box;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 1.5px;
    font-size: clamp(14pt, 2vw, 17pt) !important;
    text-align: center;
    transition: 0.5s;
}
#testnetWelcome span {
    display: block;
    font-size: clamp(13px, 1vw, 14px);
}
#testnetWelcome canvas {
    position: fixed;
    top:0;
    left:0;
    z-index:0;
}

.rewardsInformer, .testnetIntro {
    position: relative;
    z-index:1;
}
.testnetIntro {
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: 2rem;
    padding:1rem 2rem;
}

.rewardsInformer {
    visibility: hidden !important;
	padding: 5px 20px;
	font-size: clamp(13px, 1vw, 14px);
	font-weight: 200;
	text-align: center;
	cursor:help;
	transition: background-color 0.3s;
	color: #08e7fe;
    color: #FFF;
	border: 1px solid rgba(51, 153, 255, 0.25);
	border-radius: 8px;
/*
	background-color: rgba(29, 163, 216, 0.2);
	background-color: rgba(29, 129, 216, 0.2);
*/
	background-color: rgba(29, 129, 216, 0.25);
	/* animation: hideDiv 60s forwards;
	transition: 0.5s; */
}
@keyframes hideDiv {
	0% {
	  opacity: 1;
	  visibility: visible;
	}
	95% {
		opacity: 0.95;
	}
	99.9% {
	  opacity: 0;
	  visibility: hidden;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	  display: none;
	}
}

/*================================================================
        HEAD STYLES
=================================================================*/

.aboutTestnet {
    background-color: #002644;
    border-radius: 20px;
}
.aboutHead {
    padding:1.5rem;
    box-sizing: border-box;
}
.aboutHead span {
    text-align: left;
}
.aboutHead h3 {
    color: #08e7fe;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}

.jumpToTestnet .buttonsHold {
    padding-inline:unset;
    padding-block: 1rem 2rem;
    margin-top: -10px !important;
    justify-content: space-evenly;
}
.jumpToTestnet .buttonsHold a {
    color: #FFF !important;
    text-shadow: none !important;
    font-size: 1.1rem;
    border: 0.5px solid #08e7fe;
    padding: 0.5rem 1.2rem;
}
.testnetH {
    z-index: 1;
}
.testnetWindow {
    z-index: 1;
    position: relative;
    border-radius: 20px;
    margin-top: 2rem;

    padding: 1vw;
    border: 1px solid rgba(51, 153, 255, 0.15);
    background-color: rgba(29, 129, 216, 0.15);
    /*
    background-color: rgba(149, 243, 250, 0.2); 
    */
}
.testnetIntro {
    position: relative;
    /* top:-6.5rem; */
}
.aboutTestnetHold {
    position: relative;
    display: flex;
    /* overflow: hidden; */
    align-items:center;
    font-size: clamp(16px, 1vw, 18px);
    border-radius: 20px;
}
 /* ====================================================================
    TESTNET WORLD
=======================================================================*/
.testnetworld {
    display: grid;
    grid-template-columns: 300px auto;
    
	grid-template-columns: 1fr 1fr; /* 2 column grid */ 
    width: 100%;

    padding: 10px;
    box-sizing: border-box;
}
.testnet-widget {
    display: grid;
    position: relative;
    padding: 2vw;
    box-sizing: border-box;
    border-radius: 10px;
  }
span#typewrite {
    width:1.5vw;
    padding-left:1vw;
    display: inline;
	  animation: caret 1.2s steps(10) infinite;
    border:unset;
	  border-right: .20em dotted; /* The typwriter cursor */
}
@keyframes caret {
	  from, to { border-color: #08e7fe }/* change from black to orange blinking */
	  100% { border-color: #000 }
}
/* ====================================================================== 
     TESTNET VERSIONS SECTION
=======================================================================*/
.t-v-v {
  padding-block: unset;
}
.testnet-versions-hold {
  margin: 2rem;
  padding-block: unset;
}
.glass-border {
  position: relative;
  width: calc(100% - 40px);
  min-height: 20vh;
  margin: 2rem auto;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3); /* 0.2 original softer blur */
  display: block;
  border-radius: 10px;
  z-index: 1;
}

.glass-border::before, .glass-border::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2) !important; /* Border with translucency */
  backdrop-filter: blur(10px) !important; /* Apply a blur effect to create a frosted glass border */
  z-index: 2; /* Place the pseudo-elements above the content */
  transition: z-index 0.3s;
}

.glass-t-v-v::before, .glass-t-v-v::after {
  z-index: 0;
}

.glass-border:hover::before,
.glass-border:hover::after {
  z-index: -1; /* Change z-index on hover */
}

.glass-border::after {
  bottom: 2px;
  right: 2px;
}

.glass-border::before {
  top: 2px;
  left: 2px;
}
.software-versions {
  font-size: clamp(16px, 1vw, 18px);
  padding: 1vw;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Add some gap between entries for better spacing */
  overflow: hidden;
  background-color: rgba(149, 243, 250, 0.2);
  background-color: #002644;
  border-radius: 20px;
}
.glass-t-v-v .software-versions {
  z-index: 1;
}

.header, .entry {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0.5vw;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5); /* Translucent background for entries */
  background-color: rgba(149, 243, 250, 0.2);
}

.version-name {
    display: grid;
    place-content: center;
    caret-color:  transparent;
}
.version-detail {        
  text-align: center;
  font-family: monospace, "Space Grotesk", sans-serif;
  font-weight: 400;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.header {
  color :#08e7fe;
  font-weight: bold;
  background: none;
}
.version, .name{
  text-align: left;
  font-family: monospace, "Space Grotesk", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: start;
}
.name {
  flex-direction: column;
}
.entry > :last-child, .header > :last-child {
  justify-content: center;
}
.testDetail {
  justify-content: left !important;
}
.name a{
  padding-inline: 4px;
  z-index: 1;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}
.version h3 {
  text-align: center;
}
.version span {
  display: block !important;
  color: #a8a8a8;
  text-align: center !important;
  margin-block: -1px;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}
.name h3 {
  margin-bottom: unset;
}
.name p {
  padding-block: 1rem;
  font-size: clamp(13px, 1vw, 14px) !important;
  color: #DDD;
}
.unresolved {
  color : #ef6565 !important;
  text-transform: uppercase;
}

/* Responsive design */
@media (max-width: 768px) {
  .software-versions {
    grid-template-columns: 1fr; /* One column for small screens */
  }
  .header, .entry {
    grid-template-columns: 1fr; /* One column for small screens */
  }
}

/* =================================================================
        TESTNET VERSION THEMES
================================================================= */

/* Skeleton Dance */

svg {
	fill: white;
	z-index: 10;
}
.glow {
	filter: drop-shadow(0 0 1px #07f0f8);
	animation: svg-shadow 0.4s ease-in-out infinite alternate;
}
@keyframes svg-shadow {
	from {
		filter: drop-shadow(0 0 6px #07f0f8);
	}

	to {
		filter: drop-shadow(0 0 4px #07f0f8) drop-shadow(0 0 8px #07f0f8);
	}
}

/* Lights */
.light {
	opacity: 0.4;
	position: absolute;
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	filter: blur(20px);
}
.light1 {
	top: 0;
	left: 50%;
	background-color: rgb(251, 38, 205);
	box-shadow: 0 0 60px 60px rgb(251, 38, 205);
	animation: spotlight1 8s infinite ease-in-out alternate-reverse;
}
.light2 {
	top: 10%;
	left: 10%;
	background-color: rgb(38, 251, 201);
	box-shadow: 0 0 60px 60px rgb(38, 251, 201);
	animation: spotlight2 8s infinite ease-in-out alternate-reverse;
}
.light3 {
	top: 60%;
	left: 80%;
	background-color: rgb(252, 249, 73);
	box-shadow: 0 0 60px 60px rgb(252, 249, 73);
	animation: spotlight3 8s infinite ease-in-out alternate-reverse;
}
@keyframes spotlight1 {
	40% {
		transform: translateY(60vh) translateX(3vh);
	}
	80% {
		transform: translateY(40vh) translateX(30vh);
	}
	100% {
		transform: translateY(-3vh) translateX(5vh);
	}
}
@keyframes spotlight2 {
	25% {
		transform: translateY(10vh) translateX(90vh);
	}
	50% {
		transform: translateY(90vh) translateX(20vh);
	}
	75% {
		transform: translateY(10vh) translateX(10vh);
	}
}
@keyframes spotlight3 {
	25% {
		transform: translateY(10vh) translateX(-90vh);
	}
	50% {
		transform: translateY(-90vh) translateX(-20vh);
	}
	75% {
		transform: translateY(10vh) translateX(-10vh);
	}
}

/* Neon Surbuban */

.surbub-parent { /* change widget for style */
	display: unset;
	padding: unset;
}
  
  .surburban-container {
	position: relative;
	width: 60vw;
  	height: 43vw;
	margin: 0 auto;
	transform: scale(90%);
  }
  .sol {
	position: absolute;
	width: 7.5vw;  
	height: 7.5vw; 
	border-radius: 100%;
	border: 0.2vw solid rgba(248, 241, 75, 0.5);
	border-color: rgba(248, 241, 75, 1);
	box-shadow: 0 0 3.8vw 0.3vw rgba(248, 241, 75, 0.3); 
	margin: 2vw 5vw; 
	background-color: rgba(248, 241, 75, 1);
  }
  .casa {
	position: absolute;
	width: 12.6vw; 
	height: 11vw;  
	margin: 20vw 5vw;  
	border: 0.2vw solid rgba(251, 94, 55, 0.5);
	border-color: rgba(251, 94, 55, 1);
	box-shadow: 0 0 3vw 0.3vw rgba(251, 94, 55, 0.5); 
  }
  .casa::before {
	content: "";
	display: block;
	width: 0;
	height: 12vw; /* Converted from 172px to vw */
	border: 0.13vw solid rgba(255, 251, 0, 0.5); /* Converted from 1px to vw */
	border-color: rgba(255, 251, 0, 1);
	-webkit-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 251, 0, 0.3); /* Converted from 21px to vw */
	-moz-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 251, 0, 0.3); /* Converted from 21px to vw */
	box-shadow: 0 0 3.46vw 0.52vw rgba(255, 251, 0, 0.3); /* Converted from 21px to vw */
	margin: -8vw 1vw; /* Converted from -112px and 5px to vw */
	transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
	-o-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
  }
  
  .casa::after {
	content: "";
	display: block;
	width: 0;
	height: 12vw; /* Converted from 172px to vw */
	border: 0.13vw solid rgba(255, 251, 0, 0.5); /* Converted from 1px to vw */
	border-color: rgba(255, 251, 0, 1);
	-webkit-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 251, 0, 0.3); /* Converted from 21px to vw */
	-moz-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 251, 0, 0.3); /* Converted from 21px to vw */
	box-shadow: 0 0 3.46vw 0.52vw rgba(255, 251, 0, 0.3); /* Converted from 21px to vw */
	margin: -12vw 11vw; /* Converted from -333px and 147px to vw */
	transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-webkit-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
  }
  
  ul.v1 {
	display: block;
	width: 60%;
	height: max-content;
	list-style: none;
	margin: 5vw auto;
	position: absolute;
	left: 0;
	right: 0;
  }
  ul.v1 li {
	display: inline-block;
	width: 1.5vw;
  	height: 1vw;
	border: 2px solid rgba(255, 251, 0, 0.5);
	border-color: rgba(255, 251, 0, 1);
	-webkit-box-shadow: 0 0 21px 3px rgba(255, 251, 0, 0.3);
	-moz-box-shadow: 0 0 21px 3px rgba(255, 251, 0, 0.3);
	box-shadow: 0 0 21px 3px rgba(255, 251, 0, 0.3);
	margin: 0.1vw;
  }
  .casa3 {
	position: absolute;
	width: 16.5vw;
  	height: 16vw;
	background: #220011;
	margin: 15vw 23vw;
	border: 0.2vw solid rgba(40, 251, 255, 0.5);
	border-color: rgba(40, 251, 255, 1);
	box-shadow: 0 0 3vw 0.52vw rgba(40, 251, 255, 0.5); 
  }
  
  .casa3::before {
	content: "";
	display: block;
	width: 0;
	height: 16.96vw;
	border: 0.13vw solid rgba(255, 21, 255, 0.5);
	border-color: rgba(255, 21, 255, 1);
	-webkit-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 21, 255, 0.3); 
	-moz-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 21, 255, 0.3);
	box-shadow: 0 0 3.46vw 0.52vw rgba(255, 21, 255, 0.3); 
	margin: -10vw 1vw; 
	transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
	-o-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
  }
  
  .casa3::after {
	content: "";
	display: block;
	width: 0;
	height: 16.96vw;
	border: 0.13vw solid rgba(255, 21, 255, 0.5); 
	border-color: rgba(255, 21, 255, 1);
	-webkit-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 21, 255, 0.3); /* Converted from 21px to vw */
	-moz-box-shadow: 0 0 3.46vw 0.52vw rgba(255, 21, 255, 0.3); /* Converted from 21px to vw */
	box-shadow: 0 0 3.46vw 0.52vw rgba(255, 21, 255, 0.3); /* Converted from 21px to vw */
	margin: -26vw 15vw;
	margin: -17vw 15vw;
	transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-webkit-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
  }
  
  ul.v2 {
	display: block;
	width: 70%;
	height: max-content;
	list-style: none;
	margin: 6.5vw auto;
	position: absolute;
	left: 0;
	right: 0;
  }
  ul.v2 li {
	display: inline-block;
	width: 2.3vw;
	height: 2.3vw;
	border: 2px solid rgba(255, 21, 255, 0.5);
	border-color: rgba(255, 21, 255, 1);
	-webkit-box-shadow: 0 0 1vw 0.2vw rgba(255, 21, 255, 0.3);
	-moz-box-shadow: 0 0 1vw 0.2vw rgba(255, 21, 255, 0.3);
	box-shadow: 0 0 1vw 0.2vw rgba(255, 21, 255, 0.3);
  }
  .casa6 {
	position: absolute;
	width: 12.6vw;
	height: 11vw;
	margin: 20vw 2vw;
	border: 0.2vw solid rgba(251, 94, 55, 0.5);
	border-color: rgba(255, 0, 102, 1);
	box-shadow: 0 0 3vw 0.3vw rgba(255, 0, 102, 0.5);
	right: 0;
  }
  
  .casa6::before {
	content: "";
	display: block;
	width: 0;
	height: 14.4vw;
	border: 0.13vw solid rgba(0, 247, 152, 0.5);
	border-color: rgba(0, 247, 152, 1);
	box-shadow: 0 0 3.46vw 0.52vw rgba(0, 247, 152, 0.3); 
	margin: -8vw 0vw;
	transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-webkit-transform: rotate(55deg);
	-o-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
  }
  
  .casa6::after {
	content: "";
	display: block;
	width: 0;
	height: 14.4vw; 
	border: 0.13vw solid rgba(0, 247, 152, 0.5);
	border-color: rgba(0, 247, 152, 1);
	box-shadow: 0 0 3.46vw 0.52vw rgba(0, 247, 152, 0.3); 
	margin: -14.5vw 12vw;
	transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-webkit-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
  }
  
  ul.v3 {
	display: block;
	width: 60%;
	height: max-content;
	list-style: none;
	margin: 3vw auto;
	position: absolute;
	left: 0;
	right: 0;
  }
  ul.v3 li {
	display: inline-block;
	width: 2vw;
	height: 2vw;
	border: 2px solid rgba(0, 247, 152, 0.5);
	border-color: rgba(0, 247, 152, 1);
	box-shadow: 0 0 21px 3px rgba(0, 247, 152, 0.3);
	-webkit-box-shadow: 0 0 21px 3px rgba(0, 247, 152, 0.3);
	-moz-box-shadow: 0 0 21px 3px rgba(0, 247, 152, 0.3);
	margin: 0.1vw;
  }
  .base {
	position: absolute;	
	bottom: 0;
	width: 100%;
	height: 0px;
	margin: 11.5vw auto;
	border: 1px solid rgba(187, 241, 55, 0.5);
	border-color: rgba(187, 241, 55, 1);
	box-shadow: 0 0 12px 3px rgba(187, 241, 55, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(187, 241, 55, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgba(187, 241, 55, 0.3);
  }
  .chi {
	position: absolute;
	width: 1.8vw;
	height: 2.5vw;
	border: 1px solid rgba(255, 21, 255, 0.5);
		border-top-color: rgba(255, 21, 255, 0.5);
		border-right-color: rgba(255, 21, 255, 0.5);
		border-bottom-color: rgba(255, 21, 255, 0.5);
		border-left-color: rgba(255, 21, 255, 0.5);
	border-color: rgba(255, 21, 255, 1);
	box-shadow: 0 0 12px 3px rgba(255, 21, 255, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(255, 21, 255, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgba(255, 21, 255, 0.3);
	margin: 11vw 35vw;
	background-color: rgba(255, 21, 255, 1);
  }
  .chi::before {
	content: "";
	display: block;
	width: 2.5vw;
  	height: 0.6vw;
	border: 1px solid rgba(255, 21, 255, 0.5);
	border-color: rgba(255, 21, 255, 1);
	box-shadow: 0 0 21px 3px rgba(255, 21, 255, 0.3);
	-webkit-box-shadow: 0 0 21px 3px rgba(255, 21, 255, 0.3);
	-moz-box-shadow: 0 0 21px 3px rgba(255, 21, 255, 0.3);
	margin: -0.8vw -7px;
	background-color: rgba(255, 21, 255, 1);
  }
  
  .hu {
	position: absolute;
	width: 30px;
	height: 14px;
	border-radius: 0px 0px 30px 30px;
	border-bottom: 2px solid rgba(213, 255, 75, 1);
	border-right: 2px solid rgba(213, 255, 75, 1);
	border-left: 2px solid rgba(213, 255, 75, 1);
	border-color: rgba(213, 255, 75, 1);
	margin: 0vw 40vw;
	-moz-animation: huu 3s alternate infinite;
	-webkit-animation: huu 3s alternate infinite;
	-o-animation: huu 3s alternate infinite;
	animation: huu 3s alternate infinite;
  }
  .hu::before {
	content: "";
	display: block;
	width: 21px;
	height: 12px;
	border-radius: 0px 0px 30px 30px;
	border-bottom: 2px solid rgba(213, 255, 75, 1);
	border-right: 2px solid rgba(213, 255, 75, 1);
	border-left: 2px solid rgba(213, 255, 75, 1);
	border-color: rgba(213, 255, 75, 1);
	margin: -9px 30px;
	-moz-animation: huu3 3.1s alternate infinite;
	-webkit-animation: huu3 3.1s alternate infinite;
	-o-animation: huu3 3.1s alternate infinite;
	animation: huu3 3.1s alernate infinite;
  }
  .hu::after {
	content: "";
	display: block;
	width: 21px;
	height: 12px;
	border-radius: 0px 0px 30px 30px;
	border-bottom: 2px solid rgba(213, 255, 75, 1);
	border-right: 2px solid rgba(213, 255, 75, 1);
	border-left: 2px solid rgba(213, 255, 75, 1);
	border-color: rgba(213, 255, 75, 1);
	margin: -30px 3px;
	-moz-animation: huu6 3.2s alternate infinite;
	-webkit-animation: huu6 3.2s alternate infinite;
	-o-animation: huu6 3.2s alternate infinite;
	animation: huu6 3.2s alternate infinite;
  }
  .cat {
	position: absolute;
	width: 1.2vw;
	height: 1.1vw;
	border-radius: 100%;
	margin: 15vw 7vw;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 12px 3px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgbargba(255, 255, 255, 0.3);
  }
  .cat::before {
	content: "";
	display: block;
	width: 1.21vw;
	height: 1.11vw;
	border-radius: 100%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 12px 3px rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgbargba(255, 255, 255, 0.3);
	margin: 1vw -3px;
  }
  .orejas {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0.2vw solid transparent;
	border-right: 0.2vw solid transparent;
	border-bottom: 0.4vw solid white;
	margin: -3.7vw 0.8vw;
	transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
  }
  .orejas::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 0.2vw solid transparent;
	border-right: 0.2vw solid transparent;
	border-bottom: 0.4vw solid white;
	margin: 0.3vw -1vw;
	transform: rotate(-53deg);
	-moz-transform: rotate(-53deg);
	-webkit-transform: rotate(-53deg);
	-o-transform: rotate(-53deg);
	-ms-transform: rotate(-53deg);
  }
  .orejas::after {
    content: "";
    display: block;
    width: 1vw; 
    height: 0.57vw; 
    border-radius: 0 0 1.4286vw 1.43vw;
    border-bottom: 0.095vw solid rgba(255, 255, 255, 1); 
    border-right: 0.095vw solid rgba(255, 255, 255, 1);
    border-left: 0.095vw solid rgba(255, 255, 255, 1);
    margin: 1.2vw 0.4286vw;
    border-color: rgba(255, 255, 255, 1);
    margin: 1.43vw 0.43vw; 
    -moz-animation: col 3s alternate infinite;
    -webkit-animation: col 3s alternate infinite;
    -o-animation: col 3s alternate infinite;
    animation: col 3s alternate infinite;
}
  
  .birds {
	position: absolute;
	width: 12px;
	height: 6px;
	opacity: 1;
	border-radius: 0 0 30px 30px;
	border-bottom: 2px solid rgba(0, 231, 255, 1);
	border-right: 2px solid rgba(0, 231, 255, 1);
	border-left: 2px solid rgba(0, 231, 255, 1);
	border-color: rgba(0, 231, 255, 1);
	margin: 0vw 20vw;
	-moz-animation: vuela 2s alternate infinite;
	-webkit-animation: vuela 2s alternate infinite;
	-o-animation: vuela 2s alternate infinite;
	animation: vuela 2s alternate infinite;
  }
  .birds::before {
	content: "";
	display: block;
	width: 12px;
	height: 6px;
	border-radius: 0px 0px 30px 30px;
	border-bottom: 2px solid rgba(0, 231, 255, 1);
	border-right: 2px solid rgba(0, 231, 255, 1);
	border-left: 2px solid rgba(0, 231, 255, 1);
	border-color: rgba(0, 231, 255, 1);
	margin: 0px 12px;
  }
  .birds3 {
	position: absolute;
	width: 12px;
	height: 6px;
	opacity: 0;
	border-radius: 30px 30px 0 0;
	border-top: 2px solid rgba(0, 231, 255, 1);
	border-right: 2px solid rgba(0, 231, 255, 1);
	border-left: 2px solid rgba(0, 231, 255, 1);
	border-color: rgba(0, 231, 255, 1);
	margin: 1vw 20vw;
	-moz-animation: vuela3 2s alternate infinite;
	-webkit-animation: vuela3 2s alternate infinite;
	-o-animation: vuela3 2s alternate infinite;
	animation: vuela3 2s alternate infinite;
  }
  .birds3::before {
	content: "";
	display: block;
	width: 12px;
	height: 6px;
	border-radius: 30px 30px 0 0;
	border-top: 2px solid rgba(0, 231, 255, 1);
	border-right: 2px solid rgba(0, 231, 255, 1);
	border-left: 2px solid rgba(0, 231, 255, 1);
	border-color: rgba(0, 231, 255, 1);
	margin: 0px 12px;
  }
  .birds4 {
	position: absolute;
	width: 12px;
	height: 6px;
	opacity: 1;
	border-radius: 0 0 30px 30px;
	border-bottom: 2px solid rgba(255, 91, 132, 1);
	border-right: 2px solid rgba(255, 91, 132, 1);
	border-left: 2px solid rgba(255, 91, 132, 1);
	border-color: rgba(255, 91, 132, 1);
	margin: 0.8vw 21vw;
	-moz-animation: vuela 2s alternate infinite;
	-webkit-animation: vuela 2s alternate infinite;
	-o-animation: vuela 2s alternate infinite;
	animation: vuela 2s alternate infinite;
  }
  .birds4::before {
	content: "";
	display: block;
	width: 12px;
	height: 6px;
	border-radius: 0px 0px 30px 30px;
	border-bottom: 2px solid rgba(255, 91, 132, 1);
	border-right: 2px solid rgba(255, 91, 132, 1);
	border-left: 2px solid rgba(255, 91, 132, 1);
	border-color: rgba(255, 91, 132, 1);
	margin: 0px 12px;
  }
  .birds5 {
	position: absolute;
	width: 12px;
	height: 6px;
	opacity: 0;
	border-radius: 30px 30px 0 0;
	border-top: 2px solid rgba(255, 91, 132, 1);
	border-right: 2px solid rgba(255, 91, 132, 1);
	border-left: 2px solid rgba(255, 91, 132, 1);
	border-color: rgba(255, 91, 132, 1);
	margin: 0.8vw 22vw;
	-moz-animation: vuela3 2s alternate infinite;
	-webkit-animation: vuela3 2s alternate infinite;
	-o-animation: vuela3 2s alternate infinite;
	animation: vuela3 2s alternate infinite;
  }
  .birds5::before {
	content: "";
	display: block;
	width: 12px;
	height: 6px;
	border-radius: 30px 30px 0 0;
	border-top: 2px solid rgba(255, 91, 132, 1);
	border-right: 2px solid rgba(255, 91, 132, 1);
	border-left: 2px solid rgba(255, 91, 132, 1);
	border-color: rgba(255, 91, 132, 1);
	margin: 0px 12px;
  }
  .arboles {
	position: absolute;
	bottom: 12vw;
	width: 0.7vw;
  	height: 1.1vw;
	border: 2px solid rgba(162, 57, 0, 0.5);
	border-color: rgba(162, 57, 0, 1);
	box-shadow: 0 0 12px 3px rgba(162, 57, 0, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(162, 57, 0, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgba(162, 57, 0, 0.3);
	margin: 0 100%;
  }
  .arboles::before {
	content: "";
	display: block;
	width: 2.5vw;
  	height: 2vw;
	border-radius: 100%;
	border: 2px solid rgba(162, 228, 0, 0.5);
	border-color: rgba(162, 228, 0, 1);
	box-shadow: 0 0 12px 3px rgba(162, 228, 0, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(162, 228, 0, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgba(162, 228, 0, 0.3);
	margin: -2.2vw -1.1vw;
	background-color: rgba(0, 247, 152, 1);
  }
  
  .arboles3 {
	position: absolute;
	bottom:12vw;
	width: 0.7vw;
	height: 1.1vw;
	border: 2px solid rgba(162, 57, 0, 0.5);
	border-color: rgba(162, 57, 0, 1);
	box-shadow: 0 0 12px 3px rgba(162, 57, 0, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(162, 57, 0, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgba(162, 57, 0, 0.3);
  }
  .arboles3::before {
	content: "";
	display: block;
	width: 2.5vw;
  	height: 2vw;
	border-radius: 100%;
	border: 2px solid rgba(162, 228, 0, 0.5);
	border-color: rgba(162, 228, 0, 1);
	box-shadow: 0 0 12px 3px rgba(162, 228, 0, 0.3);
	-webkit-box-shadow: 0 0 12px 3px rgba(162, 228, 0, 0.3);
	-moz-box-shadow: 0 0 12px 3px rgba(162, 228, 0, 0.3);
	margin: -2.2vw -1.1vw;
	background-color: rgba(0, 247, 152, 1);
  }
  
  @-webkit-keyframes huu {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @-moz-keyframes huu {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @keyframes huu {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @-webkit-keyframes huu3 {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @-moz-keyframes huu3 {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @keyframes huu3 {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @-webkit-keyframes huu6 {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @-moz-keyframes huu6 {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @keyframes huu6 {
	0% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
	25% {
	  border-bottom: 2px solid #212121;
	  border-right: 2px solid #212121;
	  border-left: 2px solid #212121;
	  border-color: #212121;
	}
  
	50% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	75% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  
	100% {
	  border-bottom: 2px solid rgba(213, 255, 75, 1);
	  border-right: 2px solid rgba(213, 255, 75, 1);
	  border-left: 2px solid rgba(213, 255, 75, 1);
	  border-color: rgba(213, 255, 75, 1);
	}
  }
  @-webkit-keyframes col {
	0% {
	  transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(5deg);
	  -moz-transform: rotate(5deg);
	  -webkit-transform: rotate(5deg);
	  -o-transform: rotate(5deg);
	  -ms-transform: rotate(5deg);
	  margin: 23px 12px;
	}
  }
  @-moz-keyframes col {
	0% {
	  transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(5deg);
	  -moz-transform: rotate(5deg);
	  -webkit-transform: rotate(5deg);
	  -o-transform: rotate(5deg);
	  -ms-transform: rotate(5deg);
	  margin: 23px 12px;
	}
  }
  @keyframes col {
	0% {
	  transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(5deg);
	  -moz-transform: rotate(5deg);
	  -webkit-transform: rotate(5deg);
	  -o-transform: rotate(5deg);
	  -ms-transform: rotate(5deg);
	  margin: 23px 12px;
	}
  }
  
  @-webkit-keyframes vuela {
	0% {
	  opacity: 1;
	}
	25% {
	  opacity: 1;
	}
  
	50% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 0;
	}
  }
  @-moz-keyframes vuela {
	0% {
	  opacity: 1;
	}
	25% {
	  opacity: 1;
	}
  
	50% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 0;
	}
  }
  @keyframes vuela {
	0% {
	  opacity: 1;
	}
	25% {
	  opacity: 1;
	}
  
	50% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 0;
	}
  }
  @-webkit-keyframes vuela3 {
	0% {
	  opacity: 0;
	}
	25% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  @-moz-keyframes vuela3 {
	0% {
	  opacity: 0;
	}
	25% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes vuela3 {
	0% {
	  opacity: 0;
	}
	25% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  