/*  NEON PROTOCOL ECOSYSTEM MODULE STYLESHEET */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,500,600,700,800');
@import url('https://fonts.cdnfonts.com/css/sf-mono');

body {
    background: radial-gradient(#18142d, #040115 80%) !important; 
    /*background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../assets/imgs/banner-bg.webp') !important;
    background-attachment: fixed !important;
    */
    scroll-behavior: smooth;
    font-family: "Space Grotesk", monospace, sans-serif !important;
}

.neon-blue {
  text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;  
  color: #92f1fc !important;
  color: #08e7fe !important;/* darker */
}

header {
    border-bottom: 0.5px solid #15213c !important;
    padding-block: 0.5rem;
}

footer {
    background: unset !important;
}

main {
    position: relative;
    min-height: 50rem;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7) 80%); */
    padding-block: 8rem 5rem;
    box-sizing: border-box;
    overflow: hidden !important;

    font-family: "Space Grotesk", monospace, sans-serif;
}

.testnetH {
    letter-spacing: 0.2vw !important;
    font-size: clamp(26px, 5vw, 40px);
    font-family: Raleway,monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    font-weight: 100;
}

#testnetWelcome {
    position: relative;
    width: 100%;
    max-width: 96rem;
    margin-top:2rem;
    padding:2rem 1rem;
    box-sizing: border-box;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 1.5px;
    font-size: clamp(14pt, 2vw, 17pt) !important;
    text-align: center;
    transition: 0.5s;
}
#testnetWelcome span {
    display: block;
    text-align: justify;
    font-size: clamp(13px, 1vw, 14px);
}
#testnetWelcome canvas {
    position: fixed;
    top:0;
    left:0;
    z-index:0;
}
.aboutTestnet span a {
  position: relative;
  z-index: 2;
}

.rewardsInformer, .testnetIntro {
    position: relative;
    z-index:1;
}
.testnetIntro {
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: 2rem;
    padding:1rem 2rem;
}

.rewardsInformer {
    visibility: hidden !important;
	padding: 5px 20px;
	font-size: clamp(13px, 1vw, 14px);
	font-weight: 200;
	text-align: center;
	cursor:help;
	transition: background-color 0.3s;
	color: #08e7fe;
    color: #FFF;
	border: 1px solid rgba(51, 153, 255, 0.25);
	border-radius: 8px;
/*
	background-color: rgba(29, 163, 216, 0.2);
	background-color: rgba(29, 129, 216, 0.2);
*/
	background-color: rgba(29, 129, 216, 0.25);
	/* animation: hideDiv 60s forwards;
	transition: 0.5s; */
}
@keyframes hideDiv {
	0% {
	  opacity: 1;
	  visibility: visible;
	}
	95% {
		opacity: 0.95;
	}
	99.9% {
	  opacity: 0;
	  visibility: hidden;
	}
	100% {
	  opacity: 0;
	  visibility: hidden;
	  display: none;
	}
}

/*================================================================
        CITY SCAPE STYLES
=================================================================*/
.aboutTestnet, .aboutCityScape {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.aboutTestnet {
    flex: 50;
    background-color: #002644;
    /*
    border: 0.5px solid #3399ff;
    border:0.5px solid #08e7fe;
    */
    border-radius: 20px;
}
.aboutCityScape {
    flex: 45;
    align-items:center;
}
.aboutHead {
    padding:1.5rem;
    box-sizing: border-box;
}
.aboutHead h3 {
    color: #08e7fe;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}
/*
.aboutHead h3::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 40px; 
    top: 20%; 
    transform: translateY(-50%);
    animation: wigglePath 10s linear infinite;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-image: radial-gradient(circle, purple 20%, transparent 50%);
}
  
  @keyframes wigglePath {
    0% {
        background-position: top left;
    }
    40% {
        background-position: bottom center;
    }
    100% {
        background-position: top right;
    }
  }
*/

.jumpToTestnet .buttonsHold {
    padding-inline:unset;
    padding-block: 1rem 2rem;
    margin-top: -10px !important;
    justify-content: space-evenly;
}
.jumpToTestnet .buttonsHold a {
    color: #FFF !important;
    text-shadow: none !important;
    font-size: 1.1rem;
    border: 0.5px solid #08e7fe;
    padding: 0.5rem 1.2rem;
    z-index: 1;
}
.testnetH {
    z-index: 1;
}
.testnetWindow {
    z-index: 1;
    position: relative;
    padding: 1vw;
    border-radius: 20px;
    border: 1px solid rgba(51, 153, 255, 0.15);
    background-color: rgba(29, 129, 216, 0.15);
    background-color: rgba(149, 243, 250, 0.2); /* hazy bg */
    margin-top: 2rem;
}
.testnetIntro {
    position: relative;
    /* top:-6.5rem; */
}
.aboutTestnetHold {
    display: flex;
    overflow: hidden;
    align-items:center;
    padding-inline: 1rem;
    padding-bottom: 3.5rem;
    box-sizing: border-box;
}
  
svg.cityscape {
    position: relative;
    max-height: 100%;
    width: 500px;
}
  
.HOVA-car {
    opacity: 0;
    transform: translatey(45px) translatex(-70px);
}
  
.lights-fade {
    animation: fill 10s linear infinite;
}
  
.lights-fade-reverse {
    animation: fill 10s linear reverse infinite;
}
  
@keyframes fill {
    0% {
      fill: #00001E;
    }
    33% {
      fill: #F0F;
    }
    50% {
      fill: #00001E;
    }
    66% {
      fill: #0FF;
    }
    100% {
      fill: #00001E;
    }
}
/*========================================================
    ERC20S briefing 
========================================================*/

.code-container {
    /* resize: both; */
    filter: drop-shadow(0 0 75px rgba(0, 255, 195, 0.25));
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 50vh;
    position: relative;
    --glow-margin: 20px;
  }
  
  input.sig {
    content: "attr(content)";
    position: absolute;
    bottom: 10px;
    right: 90px;
    z-index: 999;
    color: rgb(255 200 255 / 0.5);
    text-shadow: 0 0 12px rebeccapurple;
    letter-spacing: 0.1em;
    width: calc(100% - 240px);
    background: transparent;
    border: none;
    text-align: right;
    letter-spacing: 0.1em;
  }
  
  .code-container::after {
    content: "";
    background: linear-gradient(
      to right,
      transparent,
      black 25px,
      black 110px,
      transparent 110px 175px,
      black 175px,
      black calc(100% - 25px),
      transparent
    );
    position: absolute;
    top: 75px;
    top: 55px;
    left: var(--glow-margin);
    right: var(--glow-margin);
    height: 4px;
    display: block;
    z-index: 9;
    opacity: 0.5;
  }
  
  .glow-container {
    position: absolute;
    height:100%;
    top:0;
    inset: 0;
    display: grid;
    z-index: 2;
    pointer-events: none;
    --glow: drop-shadow(0 0 1px violet);
    filter: var(--glow) brightness(1.5) drop-shadow(0 0 10px violet);
  }
  
  .augs {
    --aug-rect-l1: initial !important;
    --aug-l1-width: 110px !important;
    --aug-l1-height: 4px !important;
    --aug-l-center: 57px !important;

    --aug-rect-r1: initial !important;
    --aug-r1-width: (100% - 125px - 50px) !important;
    --aug-r1-height: 4px !important;
    --aug-r-center: 57px !important;

    --aug-clip-tr1: initial !important;
    --aug-tr1-alt-join-out: initial !important;
    --aug-tr1: 17px !important;
    --aug-clip-tr2: initial !important;
    --aug-tr2: 17px !important;
    --aug-tr-extend1: 50px !important;

    --aug-round-tl1: initial !important;
    --aug-tl1: 8px !important;
    --aug-round-br1: initial !important;
    --aug-br1: 8px !important;  /* radius for the bottom right corner */
    --aug-round-bl1: initial !important;
    --aug-bl1: 8px !important; /* radius for the bottom left corner */
    
    margin: 0px auto !important;
    width: calc(100% - var(--glow-margin) * 2) !important;
    height: 100% !important;
}
  .glow-container .augs {
    --aug-border: initial;
    --aug-border-all: 2px;
    --aug-border-bg: linear-gradient(to bottom left, rebeccapurple, #ea00ff); /* orange || #ea00ff*/
  }
  
  section.augs {
    position: relative;
    height:100% !important;
    inset: 0;
    margin: auto;
    padding: unset;
  }
  section.augs::before {
    filter: brightness(0.2) blur(10px);
  }
  
  .dots {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 110px;
    height: 50px;
    --red: #fc199a;
    --yellow: #ffcc00;
    --green: #61e2ff;
    --close: radial-gradient(circle, var(--red), var(--red) 7px, transparent 8px);
    --min: radial-gradient(
      circle,
      var(--yellow),
      var(--yellow) 7px,
      transparent 8px
    );
    --max: radial-gradient(
      circle,
      var(--green),
      var(--green) 7px,
      transparent 8px
    );
    background: var(--close) -28px no-repeat, var(--min) -2px no-repeat,
      var(--max) 24px no-repeat;
    filter: brightness(0.6) drop-shadow(0 0 10px rgba(237, 251, 156, 0.5));
    opacity: 0.75;
    cursor: pointer;
    border: none;
  }
  
  input.title {
    position: absolute;
    top: 10px;
    left: 120px;
    width: calc(100% - 240px);
    background: transparent;
    color: rgb(255 200 255 / 0.5);
    text-shadow: 0 0 12px rebeccapurple;
    border: none;
    text-align: center;
    letter-spacing: 0.1em;
  }
  
.code {
    position: relative;
    padding: 60px 10px 10px 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
    filter: brightness(1.2);
    text-align: left;
}
.backG {
    background: repeating-linear-gradient(
        to top,
        rgba(255, 255, 255, 0.03) 0px 2px,
        transparent 2px 5px
      ),
    linear-gradient(to bottom, #200933 75%, #3d0b43);
}
.backG::after {
    content: "" !important;
    height: 30% !important;
    width: 100% !important;
    display: block !important;
    background-image: linear-gradient(
        90deg,
        rgba(252, 25, 154, 0.1) 1px,
        rgba(0, 0, 0, 0) 1px
      ),
    linear-gradient(0deg, rgba(252, 25, 154, 0.1) 1px, rgba(0, 0, 0, 0) 1px) !important;
    background-position: bottom !important;
    background-repeat: repeat !important;
    background-size: 20px 20px !important;
    position: absolute !important;
    pointer-events: none !important;
    top: 50% !important;
    transform: perspective(100px) rotateX(55deg) !important;
    z-index: 10 !important;
}
.terminalStep {
    padding:1rem;
    box-sizing: border-box;
}
.terminalStep h3 {
    margin:unset;
    padding-block:1rem;
    font-size: clamp(18px, 1vw, 21px) !important;
    font-family: SFMono-Regular, 'Liberation Mono', Menlo, monospace;
    font-weight: 100 !important;
    
    color: #9963ff99;
    text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}
.testnetTokensCont {
    padding-inline: 1rem;
    box-sizing: border-box;
}
#testnetGrab {
    color: #61e2ff;
    text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}
#testnetUse {
    color: #00ff80;
    text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
}
#testnetPrice {
    color: #ffcc00;
    text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;  
}
#testnetVersion {
    color: #fc199a;
    text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;
}
.testnetWindow {
    display: grid;
    min-height: 100vh;
    width: 100%;
}
.testTokensList, .tokenUseList {
    width: 100%;
    min-height: 20vh;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.testTokensList {
  border: 0.5px solid #08e7fe;
}
.tokenUseList {
  border: 0.5px solid #00ff80;
}
.useCase {
  position: relative;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  min-height: 300px;
  column-gap: 0;
  justify-content: space-around;
}
.useCaseDescr {
  position: relative;
  flex-basis: 40%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
}
.case1::before, .case2::before, .case3::before {
  font-family: FontAwesome; /* Set the FontAwesome font family */
  left: -30px;
  top: 5px;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 100 !important;
}

.case1::before {
  content: "\f109"; /* Unicode for laptop icon */
  color :rgba(0, 255, 128, 0.6)
}
.case2::before {
  content: "\f0d0"; /* Unicode for magic icon */
  color: rgba(8, 230, 255, 0.6);
}
.case3::before {
  content: "\20BF"; /* Unicode for crypto icon */
  color: rgba(162, 28, 246, 0.7);
  font-size: 2rem;
}

.useCaseDescr h5 {
  margin-bottom: 1rem;
}
.useCaseLinks {
  position: relative;
  flex-basis: 35%;
  border-radius: 20px;
  border: 1px solid rgba(221, 51, 255, 0.15);
  background-color: rgba(216, 149, 250, 0.2);
}
.useCaseLinks img {
  width: 100%;
  height: 100%;
}
.useCaseLink {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 20px 20px;
  transition: all 1s ease-in-out !important;
}
.useCaseLink a {
  text-decoration: none;
  color: #61e2ff;
  font-size: clamp(15px, 1vw, 18px);
  transition: all 1s ease-in-out !important;
}
.useCaseLinks:hover .useCaseLink {
  visibility: visible;
  transition: all 1s ease-in-out !important;
}
@media (max-width: 650px) {
  .useCase {
    display: block !important;
  }
  .testnetWindow {
    display: block !important;
  }
  .terminalStep {
    padding: 0 !important;
  }
  .aboutTestnetHold {
    display: block !important;
    padding-inline: unset !important;
  }
  .buttonsHold {
    padding-inline:2vw !important;
  }
  .jumpToTestnet .buttonsHold a {
    padding: 0 !important;
  }
  .glow-container {
    display: unset !important;
  }
  .code-container {
    min-width: unset !important;
  }
  .case1::before, .case2::before, .case3::before {
    left: unset;
    right: 0 !important;
  }
}
/*=========================================================================
    Tokens List
==========================================================================*/
.section-title img{
    display: inline-flex;
    width:50px;
    height:auto;
    margin-right: 20px;
    margin-bottom: 2rem;
}

.section-title h2{
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    font-size: clamp(18px, 2vw, 22px);
    font-weight: 400;
}
.list-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 1vw;
    box-sizing: border-box;
    border-radius: 10px;
    /*
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: radial-gradient(#141247, #040115 80%) !important;
    background: radial-gradient(rgba(20, 18, 71,0.1), rgba(4, 1, 21,0.4) 80%) !important;
    */
}

.list-header, .section-title {
    flex-basis: 100%;
    font-size: clamp(14px, 2vw, 15px) !important;
    font-weight: 400;
}

.trade-list {
    width: 100%;
    max-height: 500px;
    min-height: 300px;
    /* border-right: 0.5px dotted #33856b; */
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
}

.t-i-lead {
	font-size: 1rem;
}
  
.trade-list::-webkit-scrollbar {
	width: 12px;
}
  
  .trade-list::-webkit-scrollbar-thumb {
	background-color: #188dd6;
  }
  
  .trade-list::-webkit-scrollbar-thumb:hover {
	background-color: #1264a3;
  }
  
  .trade-list::-webkit-scrollbar-track {
	background-color: #1a1a1a;
  }
  
  .trade-list::-webkit-scrollbar-track:hover {
	background-color: #2a2a2a;
  }
  
  .trade-list:hover {
	overflow-y: auto;
  }
  
  .trade-list:hover::-webkit-scrollbar-thumb {
	background-color: #1264a3;
  }
  
  .trade-list:hover::-webkit-scrollbar-track {
	background-color: #2a2a2a;
  }

.trade-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5vw;
    border-bottom: 0.5px solid #2b355d;
    justify-content: space-evenly;
}

.token-info, .tokenSupply {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    
    font-size: clamp(12.5px, 1vw, 14px) !important;    
    font-weight: 200 !important;
}
.token-info {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-columns: repeat(4, 100px) 1fr; /* 4 columns with a specific width and 1 column that takes the remaining space */
    grid-template-columns: 1fr repeat(4, 100px); /* First column takes up all remaining space, the rest have 100px width */
    gap: 10px;
}
.flex-grow {
  flex: 1; /* take up all remaining space */
}
.token-icon {
    min-width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 2px;
    box-sizing: border-box;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}

.token-icon img{
    width: 24px;
    height: 24px;
}

.token-name {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:550 !important;
}

.token-symbol {
    text-transform: uppercase;
    margin-right: 10px;
}

.token-address {
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.token-copy {
	width: 14px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
}

.copy-icon {
    font-size: 12px;
    opacity: 0.5;
    margin: 0 5px;
    vertical-align: middle;
}

.tokenSupply {
	max-width:100px;
  min-width: 90px;
  color: #61e2ff;
  color: #08e7fe;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
  justify-content: center;
}

.claimBtn {
  margin-left: 10px;
  border: 0.5px dashed #08e7fe !important;
  border-radius: 8px;
  background-color: rgba(29,78,216,.2) !important;
  background-color: #071432 !important;
  font-weight: 500;
  font-size: clamp(14px, 1vw, 15px);
}

.claimBtn:hover {
  background-color: rgba(3, 19, 62, 0.5) !important;
  background-color: #09001d !important;
  border: 0.5px solid #3399ff;
  color: #FFF;
  transition: all 0.5s ease;
}

.returnBtn {
  margin-left: 10px;
  border: 0.5px dashed rgb(214, 24, 138) !important;
  border-radius: 8px;
  background-color: rgba(29,78,216,.2) !important;
  background-color: #071432 !important;
  font-weight: 500;
  font-size: clamp(14px, 1vw, 15px);
}

.returnBtn:hover {
  background-color: rgba(3, 19, 62, 0.5) !important;
  background-color: #09001d !important;
  transition: all 0.5s ease;
  color: #ff15ff;
}

.token-pair {
	width: 50px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}

.t-i-heading {
	color:#999999 !important;
}

.token-info > * {
    margin-right: 10px;
}

@media only screen and (max-width: 950px) {
	.trade-list {
		max-width: 100%;
		flex-basis: 100%;
	}
	.t-i-lead {
		max-width: 100%;
	}
	.token-pair {
		text-align: center;
	}
  .claimBtn, .returnBtn {
    padding:0.2rem 0.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .code-container {
    --glow-margin: unset !important;
  }
	.token-name {
		min-width: 70px;
	}
	
	.trade-list {
		max-width: 100%;
		border: none;
	}
	.token-copy {
		display: none;
	 }

	.token-pair {
		text-align: center;
	}
}

/* ====================================================================== 
     TESTNET VERSIONS SECTION
====================================================================== */
.testnet-version-container {
  --glow-margin: 20px;
  padding-block: 10rem 0;
}
.t-v-v {
  padding-block: unset;
}
.testnet-versions-hold {
  margin-top: 20px;
  padding-block: unset;
}
.glass-border {
  position: relative;
  width: calc(100% - 40px);
  min-height: 20vh;
  margin: 2rem auto;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3); /* 0.2 original softer blur */
  display: block;
  border-radius: 10px;
  z-index: 1;
}

.glass-border::before, .glass-border::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2) !important; /* Border with translucency */
  backdrop-filter: blur(10px) !important; /* Apply a blur effect to create a frosted glass border */
  z-index: 2; /* Place the pseudo-elements above the content */
  transition: z-index 0.3s;
}

.glass-t-v-v {
  z-index: -1;
}
.glass-t-v-v::before, .glass-t-v-v::after {
  z-index: 0;
}

.glass-border:hover::before,
.glass-border:hover::after {
  z-index: -1; /* Change z-index on hover */
}

.glass-border::after {
  bottom: 2px;
  right: 2px;
}

.glass-border::before {
  top: 2px;
  left: 2px;
}
.software-versions {
  font-size: clamp(16px, 1vw, 18px);
  padding: 1vw;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Add some gap between entries for better spacing */
  overflow: hidden;
  background-color: rgba(149, 243, 250, 0.2);
  background-color: #002644;
  border-radius: 20px;
}
.glass-t-v-v .software-versions {
  z-index: 1;
}

.header, .entry {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; /* First two columns take 50% each, third column takes the rest */
  grid-template-columns: 0.8fr 1.2fr 1.5fr;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5); /* Translucent background for entries */
  background-color: rgba(149, 243, 250, 0.2);
}
.header {
  color :#08e7fe;
  font-weight: bold;
  background: none;
}

.version, .name, .portal-widget {
  text-align: center;
  font-family: monospace, "Space Grotesk", sans-serif;
  font-weight: 400;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.version h3 {
  text-align: center;
}
.version span {
  display: block !important;
  color: #a8a8a8;
  text-align: center !important;
  margin-block: -1px;
  padding-inline: 0.5rem;
}
.portal-widget {
  padding: 1vw;
  box-sizing: border-box;
  border-radius: 10px;
}
.portal-widget img {
  margin:0 auto;
  border-radius: 10px;
  max-width: 450px;
  cursor: pointer;
}
.name h3 {
  margin-bottom: unset;
}
.name p {
  padding-block: 1rem;
  font-size: clamp(13px, 1vw, 14px) !important;
  text-align: justify !important;
  color: #DDD !important;
}

/* Responsive design */
@media (max-width: 768px) {
  .software-versions {
    grid-template-columns: 1fr; /* One column for small screens */
  }
  .header, .entry {
    grid-template-columns: 1fr; /* One column for small screens */
  }
}

/* =================================================================
        TESTNET VERSION THEMES
================================================================= */
.Tv-container {
  position: relative;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  padding-top: 192px;
}