@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Nippo', sans-serif !important;
  background-color: #000 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

li{
  list-style: none;
}
@keyframes border-animation {
  0% {
    border-color: lime;
  }
  25% {
    border-color: floral;
  }
  50% {
    border-color: purple;
  }
  75% {
    border-color: lightblue;
  }
  100% {
    border-color: lime;
  }
}

.hover\\:border-animate:hover {
  animation: border-animation 2s infinite;
  border-width: 2px;
}


.modal-container-content {
    max-height: 100%;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: rgb(0 0 0) !important;
    border: 0.5px solid #bebebe91;
    padding: 1em 1em 0.25em;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modal-container .modal-content-title .modal-title {
    color:#f2f2f2 !important;
}

.modal-container{
  position: absolute !important;
}
.chain-dropdown {
    position: relative;
    display: flex;
    background-color: black !important;
    border: 0.5px solid #bebebe91;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px !important;
    align-items: center;
}

.borrow-section {
    margin-top: 1rem;
    padding: 1rem;
    background-color: black !important;
  
}
.modal-container .modal-content-title .close-button {
  
    display: none !important;
   
}
.select-buttons__item {
  background-color: #000 !important;
  color: #f2f2f2 !important;
}
.section-title {
  color: #f2f2f2 !important;
}
.select-buttons__item.active {
  border-bottom: 3px solid #aa79e5 !important;
}
.modal-container .blur-container > div{
  position:  relative !important;
}
.modal-container-inner {
    margin-top: -160px;
    height: 450px !important;
    width: 600px !important;
}
.modal-container .modal-content-title .title-chain-container .chain-image{
  margin-right: 0 !important;
}


@media (max-width: 768px) {
  .modal-container-inner {
    
    height: 450px !important;
    width: 100% !important;
    margin-left: 21% !important;
  }
  .modal-container {
    left: -7% !important;
        width: 80% !important;
        height: 62% !important;
  
}
.modal-container-content{
width: 125% !important;
}
}
@media (min-width: 768px) and (max-width: 1024px) {

  .modal-container-inner {
    margin-top: -160px;
    height: 450px !important;
    width: 70% !important;
  }
  .modal-container {
    position:fixed !important;
  }
  .modal-container .blur-container > div{
    position:  fixed !important; 
  }
  .modal-container .modal-content-title .close-button {
  margin: 10px;
    display: block !important;
   color: #f2f2f2 !important;
   padding-top: 15px !important;
}
.modal-container .modal-content-title .title-chain-container .chain-image{
  margin-right: 10px !important;
}

}
@media (min-width: 1536px) {
  .modal-container {
    position:fixed !important;
  }

  .modal-container-inner{
    width: 670px !important;
  }
}